# PRUEBA ANALISTA DE DATOS UNAL: Punto 1 series de tiempo Usando el modelo ARIMA #

# Elaborada por Ricardo Rodriguez Otero #

## Importando librerias ##

In [1]:

import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
import plotly.express as px
from autots import AutoTS

## Carga de datos ##

In [2]:
#carga de datos 
df= pd.read_excel('Matriculados pba.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sede          1056 non-null   object
 1   Facultad      1056 non-null   object
 2   Grado         1056 non-null   object
 3   Sexo          1056 non-null   object
 4   Periodo       1056 non-null   object
 5   Matriculados  1056 non-null   float64
dtypes: float64(1), object(5)
memory usage: 49.6+ KB

## Remplazando valores con errores ortograficos para evitar duplicados ##

In [3]:
df['Facultad']=df['Facultad'].replace(['C.  Humanas', 'Ingenieria', 'Odontologia'],
                                      ['C. Humanas', 'Ingeniería', 'Odontología'])

## Cambiando tipos de datos ##

In [4]:
df_t = df.convert_dtypes()

In [5]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sede          1056 non-null   string
 1   Facultad      1056 non-null   string
 2   Grado         1056 non-null   string
 3   Sexo          1056 non-null   string
 4   Periodo       1056 non-null   string
 5   Matriculados  1056 non-null   Int64
dtypes: Int64(1), string(5)
memory usage: 50.7 KB

## Dividiendo periodo ##

In [6]:
df_t[['Año','Semestre_A']]=df_t['Periodo'].str.split('-', expand=True)

In [7]:
#Verificando datos
df_t.head(10)

     Sede Facultad     Grado     Sexo Periodo  Matriculados   Año Semestre_A
0  Bogotá    Artes  Posgrado  Hombres  2009-1           336  2009          1
1  Bogotá    Artes  Posgrado  Hombres  2009-2           326  2009          2
2  Bogotá    Artes  Posgrado  Hombres  2010-1           326  2010          1
3  Bogotá    Artes  Posgrado  Hombres  2010-2           328  2010          2
4  Bogotá    Artes  Posgrado  Hombres  2011-1           333  2011          1
5  Bogotá    Artes  Posgrado  Hombres  2011-2           320  2011          2
6  Bogotá    Artes  Posgrado  Hombres  2012-1           349  2012          1
7  Bogotá    Artes  Posgrado  Hombres  2012-2           325  2012          2
8  Bogotá    Artes  Posgrado  Hombres  2013-1           371  2013          1
9  Bogotá    Artes  Posgrado  Hombres  2013-2           370  2013          2

In [8]:
#Verificando datos
df_t.tail(10)

,Sede,Facultad,Grado,Sexo,Periodo,Matriculados,Año,Semestre_A
1046,Bogotá,Odontología,Pregrado,Mujeres,2016-1,305,2016,1
1047,Bogotá,Odontología,Pregrado,Mujeres,2016-2,311,2016,2
1048,Bogotá,Odontología,Pregrado,Mujeres,2017-1,311,2017,1
1049,Bogotá,Odontología,Pregrado,Mujeres,2017-2,303,2017,2
1050,Bogotá,Odontología,Pregrado,Mujeres,2018-1,298,2018,1
1051,Bogotá,Odontología,Pregrado,Mujeres,2018-2,295,2018,2
1052,Bogotá,Odontología,Pregrado,Mujeres,2019-1,298,2019,1
1053,Bogotá,Odontología,Pregrado,Mujeres,2019-2,301,2019,2
1054,Bogotá,Odontología,Pregrado,Mujeres,2020-1,314,2020,1
1055,Bogotá,Odontología,Pregrado,Mujeres,2020-2,332,2020,2

## Dando formato de fecha para crear las series de tiempo ##

In [9]:

#df_t.head()
df_t['Fecha']=df_t['Periodo']
df_t['Mes']= df_t['Semestre_A']
#df_t.Mes.str.replace('2','6', case=None, flags=0, regex=None)
df_t['Mes']=df_t['Mes'].map({'1':'1','2':'6'})
df_t.head(10)

,Sede,Facultad,Grado,Sexo,Periodo,Matriculados,Año,Semestre_A,Fecha,Mes
0,Bogotá,Artes,Posgrado,Hombres,2009-1,336,2009,1,2009-1,1
1,Bogotá,Artes,Posgrado,Hombres,2009-2,326,2009,2,2009-2,6
2,Bogotá,Artes,Posgrado,Hombres,2010-1,326,2010,1,2010-1,1
3,Bogotá,Artes,Posgrado,Hombres,2010-2,328,2010,2,2010-2,6
4,Bogotá,Artes,Posgrado,Hombres,2011-1,333,2011,1,2011-1,1
5,Bogotá,Artes,Posgrado,Hombres,2011-2,320,2011,2,2011-2,6
6,Bogotá,Artes,Posgrado,Hombres,2012-1,349,2012,1,2012-1,1
7,Bogotá,Artes,Posgrado,Hombres,2012-2,325,2012,2,2012-2,6
8,Bogotá,Artes,Posgrado,Hombres,2013-1,371,2013,1,2013-1,1
9,Bogotá,Artes,Posgrado,Hombres,2013-2,370,2013,2,2013-2,6

In [10]:
df_t['Fecha_c'] = df_t['Año']+'-'+df_t['Mes']

In [11]:
#creando el campo de fecha a usar en las series
df_t['Fecha_c'] = pd.to_datetime(df_t['Fecha_c'])
df_t.head(10)

,Sede,Facultad,Grado,Sexo,Periodo,Matriculados,Año,Semestre_A,Fecha,Mes,Fecha_c
0,Bogotá,Artes,Posgrado,Hombres,2009-1,336,2009,1,2009-1,1,2009-01-01
1,Bogotá,Artes,Posgrado,Hombres,2009-2,326,2009,2,2009-2,6,2009-06-01
2,Bogotá,Artes,Posgrado,Hombres,2010-1,326,2010,1,2010-1,1,2010-01-01
3,Bogotá,Artes,Posgrado,Hombres,2010-2,328,2010,2,2010-2,6,2010-06-01
4,Bogotá,Artes,Posgrado,Hombres,2011-1,333,2011,1,2011-1,1,2011-01-01
5,Bogotá,Artes,Posgrado,Hombres,2011-2,320,2011,2,2011-2,6,2011-06-01
6,Bogotá,Artes,Posgrado,Hombres,2012-1,349,2012,1,2012-1,1,2012-01-01
7,Bogotá,Artes,Posgrado,Hombres,2012-2,325,2012,2,2012-2,6,2012-06-01
8,Bogotá,Artes,Posgrado,Hombres,2013-1,371,2013,1,2013-1,1,2013-01-01
9,Bogotá,Artes,Posgrado,Hombres,2013-2,370,2013,2,2013-2,6,2013-06-01

## Dando formato a los demas campos del dataframe ##

In [12]:
df_t["Facultad"] = df_t["Facultad"].astype('category')
df_t["Grado"] = df_t["Grado"].astype('category')
df_t["Matriculados"] = df_t["Matriculados"].astype('int')
df_t["Año"] = df_t["Año"].astype('int')


#Verificando datos 
df_t.head(10)

,Sede,Facultad,Grado,Sexo,Periodo,Matriculados,Año,Semestre_A,Fecha,Mes,Fecha_c
0,Bogotá,Artes,Posgrado,Hombres,2009-1,336,2009,1,2009-1,1,2009-01-01
1,Bogotá,Artes,Posgrado,Hombres,2009-2,326,2009,2,2009-2,6,2009-06-01
2,Bogotá,Artes,Posgrado,Hombres,2010-1,326,2010,1,2010-1,1,2010-01-01
3,Bogotá,Artes,Posgrado,Hombres,2010-2,328,2010,2,2010-2,6,2010-06-01
4,Bogotá,Artes,Posgrado,Hombres,2011-1,333,2011,1,2011-1,1,2011-01-01
5,Bogotá,Artes,Posgrado,Hombres,2011-2,320,2011,2,2011-2,6,2011-06-01
6,Bogotá,Artes,Posgrado,Hombres,2012-1,349,2012,1,2012-1,1,2012-01-01
7,Bogotá,Artes,Posgrado,Hombres,2012-2,325,2012,2,2012-2,6,2012-06-01
8,Bogotá,Artes,Posgrado,Hombres,2013-1,371,2013,1,2013-1,1,2013-01-01
9,Bogotá,Artes,Posgrado,Hombres,2013-2,370,2013,2,2013-2,6,2013-06-01

In [13]:
#Verificando datos
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sede          1056 non-null   string
 1   Facultad      1056 non-null   category
 2   Grado         1056 non-null   category
 3   Sexo          1056 non-null   string
 4   Periodo       1056 non-null   string
 5   Matriculados  1056 non-null   int32
 6   Año           1056 non-null   int32
 7   Semestre_A    1056 non-null   string
 8   Fecha         1056 non-null   string
 9   Mes           1056 non-null   object
 10  Fecha_c       1056 non-null   datetime64[ns]
dtypes: category(2), datetime64[ns](1), int32(2), object(1), string(5)
memory usage: 68.7+ KB

In [62]:
print(df_t.Facultad.unique())

['Artes', 'C. Agrarias', 'C. Económicas', 'C. Humanas', 'Ciencias', ..., 'Enfermería', 'Ingeniería', 'Med. veterinaria y de Zootecnia', 'Medicina', 'Odontología']
Length: 11
Categories (11, string): [Artes, C. Agrarias, C. Económicas, C. Humanas, ..., Ingeniería, Med. veterinaria y de Zootecnia, Medicina, Odontología]

# Filtros generales de datos para obtener Dataframes para crear series de tiempo por facultades, género, grado y periodo #

In [14]:
#filtro por mujer 
df_t_M = df_t.loc[df_t['Sexo'] == "Mujeres"]
df_t_M.head(10)

,Sede,Facultad,Grado,Sexo,Periodo,Matriculados,Año,Semestre_A,Fecha,Mes,Fecha_c
24,Bogotá,Artes,Posgrado,Mujeres,2009-1,219,2009,1,2009-1,1,2009-01-01
25,Bogotá,Artes,Posgrado,Mujeres,2009-2,239,2009,2,2009-2,6,2009-06-01
26,Bogotá,Artes,Posgrado,Mujeres,2010-1,230,2010,1,2010-1,1,2010-01-01
27,Bogotá,Artes,Posgrado,Mujeres,2010-2,231,2010,2,2010-2,6,2010-06-01
28,Bogotá,Artes,Posgrado,Mujeres,2011-1,253,2011,1,2011-1,1,2011-01-01
29,Bogotá,Artes,Posgrado,Mujeres,2011-2,243,2011,2,2011-2,6,2011-06-01
30,Bogotá,Artes,Posgrado,Mujeres,2012-1,239,2012,1,2012-1,1,2012-01-01
31,Bogotá,Artes,Posgrado,Mujeres,2012-2,229,2012,2,2012-2,6,2012-06-01
32,Bogotá,Artes,Posgrado,Mujeres,2013-1,248,2013,1,2013-1,1,2013-01-01
33,Bogotá,Artes,Posgrado,Mujeres,2013-2,238,2013,2,2013-2,6,2013-06-01

In [15]:
#filtro por Hombre
df_t_H = df_t.loc[df_t['Sexo'] == "Hombres"]
df_t_H.head(10)

,Sede,Facultad,Grado,Sexo,Periodo,Matriculados,Año,Semestre_A,Fecha,Mes,Fecha_c
0,Bogotá,Artes,Posgrado,Hombres,2009-1,336,2009,1,2009-1,1,2009-01-01
1,Bogotá,Artes,Posgrado,Hombres,2009-2,326,2009,2,2009-2,6,2009-06-01
2,Bogotá,Artes,Posgrado,Hombres,2010-1,326,2010,1,2010-1,1,2010-01-01
3,Bogotá,Artes,Posgrado,Hombres,2010-2,328,2010,2,2010-2,6,2010-06-01
4,Bogotá,Artes,Posgrado,Hombres,2011-1,333,2011,1,2011-1,1,2011-01-01
5,Bogotá,Artes,Posgrado,Hombres,2011-2,320,2011,2,2011-2,6,2011-06-01
6,Bogotá,Artes,Posgrado,Hombres,2012-1,349,2012,1,2012-1,1,2012-01-01
7,Bogotá,Artes,Posgrado,Hombres,2012-2,325,2012,2,2012-2,6,2012-06-01
8,Bogotá,Artes,Posgrado,Hombres,2013-1,371,2013,1,2013-1,1,2013-01-01
9,Bogotá,Artes,Posgrado,Hombres,2013-2,370,2013,2,2013-2,6,2013-06-01

In [16]:
## Filtro facultad de Artes, Pregado, mujeres ##

In [17]:
#filtro por facultad Mujeres
df_t_FM = df_t_M.loc[df_t_M['Facultad'] == "Artes"]
df_t_FM.tail(10)

,Sede,Facultad,Grado,Sexo,Periodo,Matriculados,Año,Semestre_A,Fecha,Mes,Fecha_c
86,Bogotá,Artes,Pregrado,Mujeres,2016-1,766,2016,1,2016-1,1,2016-01-01
87,Bogotá,Artes,Pregrado,Mujeres,2016-2,772,2016,2,2016-2,6,2016-06-01
88,Bogotá,Artes,Pregrado,Mujeres,2017-1,793,2017,1,2017-1,1,2017-01-01
89,Bogotá,Artes,Pregrado,Mujeres,2017-2,805,2017,2,2017-2,6,2017-06-01
90,Bogotá,Artes,Pregrado,Mujeres,2018-1,841,2018,1,2018-1,1,2018-01-01
91,Bogotá,Artes,Pregrado,Mujeres,2018-2,856,2018,2,2018-2,6,2018-06-01
92,Bogotá,Artes,Pregrado,Mujeres,2019-1,888,2019,1,2019-1,1,2019-01-01
93,Bogotá,Artes,Pregrado,Mujeres,2019-2,905,2019,2,2019-2,6,2019-06-01
94,Bogotá,Artes,Pregrado,Mujeres,2020-1,904,2020,1,2020-1,1,2020-01-01
95,Bogotá,Artes,Pregrado,Mujeres,2020-2,914,2020,2,2020-2,6,2020-06-01

In [18]:
#filtro por facultad hombres
df_t_FH = df_t_H.loc[df_t_H['Facultad'] == "Artes"]
df_t_FH.tail(10)

,Sede,Facultad,Grado,Sexo,Periodo,Matriculados,Año,Semestre_A,Fecha,Mes,Fecha_c
62,Bogotá,Artes,Pregrado,Hombres,2016-1,1638,2016,1,2016-1,1,2016-01-01
63,Bogotá,Artes,Pregrado,Hombres,2016-2,1622,2016,2,2016-2,6,2016-06-01
64,Bogotá,Artes,Pregrado,Hombres,2017-1,1646,2017,1,2017-1,1,2017-01-01
65,Bogotá,Artes,Pregrado,Hombres,2017-2,1609,2017,2,2017-2,6,2017-06-01
66,Bogotá,Artes,Pregrado,Hombres,2018-1,1581,2018,1,2018-1,1,2018-01-01
67,Bogotá,Artes,Pregrado,Hombres,2018-2,1579,2018,2,2018-2,6,2018-06-01
68,Bogotá,Artes,Pregrado,Hombres,2019-1,1547,2019,1,2019-1,1,2019-01-01
69,Bogotá,Artes,Pregrado,Hombres,2019-2,1559,2019,2,2019-2,6,2019-06-01
70,Bogotá,Artes,Pregrado,Hombres,2020-1,1503,2020,1,2020-1,1,2020-01-01
71,Bogotá,Artes,Pregrado,Hombres,2020-2,1429,2020,2,2020-2,6,2020-06-01

In [19]:
#filtro por facultad Mujeres por periodo
df_t_FMP = df_t_FM.loc[df_t_FM['Semestre_A'] == "1"]
df_t_FMP

,Sede,Facultad,Grado,Sexo,Periodo,Matriculados,Año,Semestre_A,Fecha,Mes,Fecha_c
24,Bogotá,Artes,Posgrado,Mujeres,2009-1,219,2009,1,2009-1,1,2009-01-01
26,Bogotá,Artes,Posgrado,Mujeres,2010-1,230,2010,1,2010-1,1,2010-01-01
28,Bogotá,Artes,Posgrado,Mujeres,2011-1,253,2011,1,2011-1,1,2011-01-01
30,Bogotá,Artes,Posgrado,Mujeres,2012-1,239,2012,1,2012-1,1,2012-01-01
32,Bogotá,Artes,Posgrado,Mujeres,2013-1,248,2013,1,2013-1,1,2013-01-01
34,Bogotá,Artes,Posgrado,Mujeres,2014-1,250,2014,1,2014-1,1,2014-01-01
36,Bogotá,Artes,Posgrado,Mujeres,2015-1,240,2015,1,2015-1,1,2015-01-01
38,Bogotá,Artes,Posgrado,Mujeres,2016-1,280,2016,1,2016-1,1,2016-01-01
40,Bogotá,Artes,Posgrado,Mujeres,2017-1,256,2017,1,2017-1,1,2017-01-01
42,Bogotá,Artes,Posgrado,Mujeres,2018-1,279,2018,1,2018-1,1,2018-01-01
44,Bogotá,Artes,Posgrado,Mujeres,2019-1,251,2019,1,2019-1,1,2019-01-01
46,Bogotá,Artes,Posgrado,Mujeres,2020-1,238,2020,1,2020-1,1,2020-01-01
72,Bogotá,Artes,Pregrado,Mujeres,2009-1,724,2009,1,2009-1,1,2009-01-01
74,Bogotá,Artes,Pregrado,Mujeres,2010-1,732,2010,1,2010-1,1,2010-01-01
76,Bogotá,Artes,Pregrado,Mujeres,2011-1,729,2011,1,2011-1,1,2011-01-01
78,Bogotá,Artes,Pregrado,Mujeres,2012-1,720,2012,1,2012-1,1,2012-01-01
80,Bogotá,Artes,Pregrado,Mujeres,2013-1,732,2013,1,2013-1,1,2013-01-01
82,Bogotá,Artes,Pregrado,Mujeres,2014-1,745,2014,1,2014-1,1,2014-01-01
84,Bogotá,Artes,Pregrado,Mujeres,2015-1,748,2015,1,2015-1,1,2015-01-01
86,Bogotá,Artes,Pregrado,Mujeres,2016-1,766,2016,1,2016-1,1,2016-01-01
88,Bogotá,Artes,Pregrado,Mujeres,2017-1,793,2017,1,2017-1,1,2017-01-01
90,Bogotá,Artes,Pregrado,Mujeres,2018-1,841,2018,1,2018-1,1,2018-01-01
92,Bogotá,Artes,Pregrado,Mujeres,2019-1,888,2019,1,2019-1,1,2019-01-01
94,Bogotá,Artes,Pregrado,Mujeres,2020-1,904,2020,1,2020-1,1,2020-01-01

In [20]:
#filtro por facultad Mujeres por periodo por grado
df_t_FMPG = df_t_FMP.loc[df_t_FMP['Grado'] == "Pregrado"]
df_t_FMPG.head(10)

,Sede,Facultad,Grado,Sexo,Periodo,Matriculados,Año,Semestre_A,Fecha,Mes,Fecha_c
72,Bogotá,Artes,Pregrado,Mujeres,2009-1,724,2009,1,2009-1,1,2009-01-01
74,Bogotá,Artes,Pregrado,Mujeres,2010-1,732,2010,1,2010-1,1,2010-01-01
76,Bogotá,Artes,Pregrado,Mujeres,2011-1,729,2011,1,2011-1,1,2011-01-01
78,Bogotá,Artes,Pregrado,Mujeres,2012-1,720,2012,1,2012-1,1,2012-01-01
80,Bogotá,Artes,Pregrado,Mujeres,2013-1,732,2013,1,2013-1,1,2013-01-01
82,Bogotá,Artes,Pregrado,Mujeres,2014-1,745,2014,1,2014-1,1,2014-01-01
84,Bogotá,Artes,Pregrado,Mujeres,2015-1,748,2015,1,2015-1,1,2015-01-01
86,Bogotá,Artes,Pregrado,Mujeres,2016-1,766,2016,1,2016-1,1,2016-01-01
88,Bogotá,Artes,Pregrado,Mujeres,2017-1,793,2017,1,2017-1,1,2017-01-01
90,Bogotá,Artes,Pregrado,Mujeres,2018-1,841,2018,1,2018-1,1,2018-01-01

## Definiendo modelo de la libreria statsmodels que usara la libreria AutoTS, se escoge esta libreria por permitir usar diferentes tipos de modelos y escoger el mas efectivo segun el caso, tambien es compatible con librerias como pycaret y prophet de Meta o facebook ##

In [21]:
#model_list = ['LastValueNaive', 'GLS', 'GLM', 'ETS', 'AverageValueNaive', 'ARIMA', 'Theta', 'ARDL'] statsmodels
model_list = ['ARIMA']

In [22]:
#modelo para la facultad de artes, pregrado mujeres en el primer periodo 
model_arte_pre_mu_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)

In [23]:
model_arte_pre_mu_1 = model_arte_pre_mu_1.fit(df_t_FMPG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

Inferred frequency is: AS-JAN
Model Number: 1 with model ARIMA in generation 0 of 5
Model Number: 2 with model ARIMA in generation 0 of 5
Model Number: 3 with model ARIMA in generation 0 of 5
Model Number: 4 with model ARIMA in generation 0 of 5
Model Number: 5 with model ARIMA in generation 0 of 5
Model Number: 6 with model ARIMA in generation 0 of 5
Model Number: 7 with model ARIMA in generation 0 of 5
Model Number: 8 with model ARIMA in generation 0 of 5
New Generation: 1 of 5
Model Number: 9 with model ARIMA in generation 1 of 5
Model Number: 10 with model ARIMA in generation 1 of 5
Model Number: 11 with model ARIMA in generation 1 of 5
Model Number: 12 with model ARIMA in generation 1 of 5
Model Number: 13 with model ARIMA in generation 1 of 5
New Generation: 2 of 5
Model Number: 14 with model ARIMA in generation 2 of 5
Model Number: 15 with model ARIMA in generation 2 of 5
Model Number: 16 with model ARIMA in generation 2 of 5
Model Number: 17 with model ARIMA in generation 2 of 5
Model Number: 18 with model ARIMA in generation 2 of 5
Template Eval Error: ValueError("regression_type='User' but future_regressor not supplied") in model 18: ARIMA
New Generation: 3 of 5
Model Number: 19 with model ARIMA in generation 3 of 5
Model Number: 20 with model ARIMA in generation 3 of 5
Model Number: 21 with model ARIMA in generation 3 of 5
Model Number: 22 with model ARIMA in generation 3 of 5
Model Number: 23 with model ARIMA in generation 3 of 5
New Generation: 4 of 5
Model Number: 24 with model ARIMA in generation 4 of 5
Model Number: 25 with model ARIMA in generation 4 of 5
Model Number: 26 with model ARIMA in generation 4 of 5
Model Number: 27 with model ARIMA in generation 4 of 5
Model Number: 28 with model ARIMA in generation 4 of 5
Template Eval Error: ValueError("regression_type='User' but future_regressor not supplied") in model 28: ARIMA
New Generation: 5 of 5
Model Number: 29 with model ARIMA in generation 5 of 5
Model Number: 30 with model ARIMA in generation 5 of 5
Model Number: 31 with model ARIMA in generation 5 of 5
Model Number: 32 with model ARIMA in generation 5 of 5
Model Number: 33 with model ARIMA in generation 5 of 5

C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\models\ensemble.py:959: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cur_mods = pd.Series(models_pos).value_counts()
C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\models\ensemble.py:959: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cur_mods = pd.Series(models_pos).value_counts()

Model Number: 34 with model Ensemble in generation 6 of Ensembles
Model Number: 35 with model Ensemble in generation 6 of Ensembles
Model Number: 36 with model Ensemble in generation 6 of Ensembles
Model Number: 37 with model Ensemble in generation 6 of Ensembles
Model Number: 38 with model Ensemble in generation 6 of Ensembles
Validation Round: 1
Model Number: 1 of 6 with model Ensemble for Validation 1
📈 1 - Ensemble with avg smape 4.63:
Model Number: 2 of 6 with model Ensemble for Validation 1
📈 2 - Ensemble with avg smape 3.78:
Model Number: 3 of 6 with model Ensemble for Validation 1
📈 3 - Ensemble with avg smape 3.65:
Model Number: 4 of 6 with model Ensemble for Validation 1
4 - Ensemble with avg smape 4.52:
Model Number: 5 of 6 with model ARIMA for Validation 1
5 - ARIMA with avg smape 4.52:
Model Number: 6 of 6 with model ARIMA for Validation 1
📈 6 - ARIMA with avg smape 3.16:
Validation Round: 2
Model Number: 1 of 6 with model Ensemble for Validation 2
📈 1 - Ensemble with avg smape 0.65:
Model Number: 2 of 6 with model Ensemble for Validation 2
2 - Ensemble with avg smape 0.78:
Model Number: 3 of 6 with model Ensemble for Validation 2
📈 3 - Ensemble with avg smape 0.45:
Model Number: 4 of 6 with model Ensemble for Validation 2
📈 4 - Ensemble with avg smape 0.44:
Model Number: 5 of 6 with model ARIMA for Validation 2
5 - ARIMA with avg smape 0.44:
Model Number: 6 of 6 with model ARIMA for Validation 2
6 - ARIMA with avg smape 1.88:

## Prediccion y resultado de serie de tiempo para la facultad de artes, pregrado mujeres en el primer periodo ##

In [24]:
 prediction_arte_pre_mu_1 = model_arte_pre_mu_1.predict()

In [25]:
forecast_arte_pre_mu_1 =  prediction_arte_pre_mu_1.forecast

In [26]:
print(model_arte_pre_mu_1)

Initiated AutoTS object with best model:
Ensemble
{}
{'model_name': 'BestN', 'model_count': 5, 'model_metric': 'bestn_horizontal', 'models': {'42dfd1c8f8cb100121735094ef1d841f': {'Model': 'ARIMA', 'ModelParameters': '{"p": 12, "d": 0, "q": 1, "regression_type": null}', 'TransformationParameters': '{"fillna": "ffill", "transformations": {"0": "DifferencedTransformer", "1": "PowerTransformer", "2": "QuantileTransformer", "3": "QuantileTransformer", "4": "EWMAFilter"}, "transformation_params": {"0": {}, "1": {}, "2": {"output_distribution": "uniform", "n_quantiles": 2}, "3": {"output_distribution": "normal", "n_quantiles": 3}, "4": {"span": 12}}}'}, '30ae509eda5e5d17adf1dde948d7e3a5': {'Model': 'ARIMA', 'ModelParameters': '{"p": 12, "d": 3, "q": 1, "regression_type": null}', 'TransformationParameters': '{"fillna": "ffill", "transformations": {"0": "Detrend", "1": "QuantileTransformer", "2": "QuantileTransformer", "3": "QuantileTransformer"}, "transformation_params": {"0": {"model": "GLS", "phi": 1, "window": 10}, "1": {"output_distribution": "uniform", "n_quantiles": 3}, "2": {"output_distribution": "uniform", "n_quantiles": 3}, "3": {"output_distribution": "normal", "n_quantiles": 3}}}'}, '355ba4bc76c95741948aebf5fc14995f': {'Model': 'ARIMA', 'ModelParameters': '{"p": 2, "d": 0, "q": 1, "regression_type": null}', 'TransformationParameters': '{"fillna": "ffill", "transformations": {"0": "DifferencedTransformer", "1": "PowerTransformer", "2": "QuantileTransformer", "3": "QuantileTransformer", "4": "EWMAFilter"}, "transformation_params": {"0": {}, "1": {}, "2": {"output_distribution": "uniform", "n_quantiles": 2}, "3": {"output_distribution": "normal", "n_quantiles": 3}, "4": {"span": 12}}}'}, '8b3258af7fff36ee9c6fd15deffbaab4': {'Model': 'ARIMA', 'ModelParameters': '{"p": 0, "d": 0, "q": 2, "regression_type": null}', 'TransformationParameters': '{"fillna": "ffill", "transformations": {"0": "Slice", "1": "DifferencedTransformer"}, "transformation_params": {"0": {"method": 0.5}, "1": {}}}'}, 'a93925b5d336c79803a2230a04d690de': {'Model': 'ARIMA', 'ModelParameters': '{"p": 12, "d": 3, "q": 1, "regression_type": null}', 'TransformationParameters': '{"fillna": "ffill", "transformations": {"0": "DifferencedTransformer", "1": "PowerTransformer", "2": "QuantileTransformer", "3": "QuantileTransformer", "4": "Detrend", "5": "EWMAFilter"}, "transformation_params": {"0": {}, "1": {}, "2": {"output_distribution": "uniform", "n_quantiles": 2}, "3": {"output_distribution": "normal", "n_quantiles": 3}, "4": {"model": "GLS", "phi": 0.999, "window": null}, "5": {"span": 12}}}'}}, 'point_method': 'median', 'model_weights': {}}
SMAPE: 0.7274426383491217, 3.6518716650293235, 0.4503319725879705
MAE: 6.573411744424618, 29.609737850107194, 3.38986975723202
SPL: 0.44705259643872286, 2.9533483845577897, 0.38937208874930573

## El error medio absoluto es ##

## Modelo prediccion y resultado de serie de tiempo para la facultad de artes, pregrado mujeres en el segundo periodo ##

In [27]:
#filtro por facultad Mujeres por periodo
df_t_FMP2 = df_t_FM.loc[df_t_FM['Semestre_A'] == "2"]
#filtro por facultad Mujeres por periodo por grado
df_t_FMPG2 = df_t_FMP2.loc[df_t_FMP2['Grado'] == "Pregrado"]

In [28]:
#modelo para la facultad de artes, pregrado mujeres en el primer periodo 
model_arte_pre_mu_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)

In [29]:
model_arte_pre_mu_2 = model_arte_pre_mu_2.fit(df_t_FMPG2,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

Inferred frequency is: AS-JUN
Model Number: 1 with model ARIMA in generation 0 of 5
Model Number: 2 with model ARIMA in generation 0 of 5
Model Number: 3 with model ARIMA in generation 0 of 5
Model Number: 4 with model ARIMA in generation 0 of 5
Model Number: 5 with model ARIMA in generation 0 of 5
Model Number: 6 with model ARIMA in generation 0 of 5
Model Number: 7 with model ARIMA in generation 0 of 5
Model Number: 8 with model ARIMA in generation 0 of 5
New Generation: 1 of 5
Model Number: 9 with model ARIMA in generation 1 of 5
Model Number: 10 with model ARIMA in generation 1 of 5
Model Number: 11 with model ARIMA in generation 1 of 5
Model Number: 12 with model ARIMA in generation 1 of 5
Model Number: 13 with model ARIMA in generation 1 of 5
New Generation: 2 of 5
Model Number: 14 with model ARIMA in generation 2 of 5
Model Number: 15 with model ARIMA in generation 2 of 5
Model Number: 16 with model ARIMA in generation 2 of 5
Model Number: 17 with model ARIMA in generation 2 of 5
Model Number: 18 with model ARIMA in generation 2 of 5
New Generation: 3 of 5
Model Number: 19 with model ARIMA in generation 3 of 5
Model Number: 20 with model ARIMA in generation 3 of 5
Model Number: 21 with model ARIMA in generation 3 of 5
Template Eval Error: Exception('Transformer DifferencedTransformer failed on inverse') in model 21: ARIMA
Model Number: 22 with model ARIMA in generation 3 of 5
Model Number: 23 with model ARIMA in generation 3 of 5
New Generation: 4 of 5
Model Number: 24 with model ARIMA in generation 4 of 5
Model Number: 25 with model ARIMA in generation 4 of 5
Model Number: 26 with model ARIMA in generation 4 of 5
Model Number: 27 with model ARIMA in generation 4 of 5
Model Number: 28 with model ARIMA in generation 4 of 5
New Generation: 5 of 5
Model Number: 29 with model ARIMA in generation 5 of 5
Model Number: 30 with model ARIMA in generation 5 of 5
Model Number: 31 with model ARIMA in generation 5 of 5
Model Number: 32 with model ARIMA in generation 5 of 5
Model Number: 33 with model ARIMA in generation 5 of 5
Model Number: 34 with model Ensemble in generation 6 of Ensembles

C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\models\ensemble.py:959: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cur_mods = pd.Series(models_pos).value_counts()
C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\models\ensemble.py:959: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cur_mods = pd.Series(models_pos).value_counts()

Model Number: 35 with model Ensemble in generation 6 of Ensembles
Model Number: 36 with model Ensemble in generation 6 of Ensembles
Model Number: 37 with model Ensemble in generation 6 of Ensembles
Model Number: 38 with model Ensemble in generation 6 of Ensembles
Validation Round: 1
Model Number: 1 of 6 with model Ensemble for Validation 1
📈 1 - Ensemble with avg smape 4.71:
Model Number: 2 of 6 with model Ensemble for Validation 1
📈 2 - Ensemble with avg smape 4.51:
Model Number: 3 of 6 with model ARIMA for Validation 1
3 - ARIMA with avg smape 4.51:
Model Number: 4 of 6 with model Ensemble for Validation 1
4 - Ensemble with avg smape 4.96:
Model Number: 5 of 6 with model Ensemble for Validation 1
5 - Ensemble with avg smape 4.89:
Model Number: 6 of 6 with model Ensemble for Validation 1
6 - Ensemble with avg smape 4.76:
Validation Round: 2
Model Number: 1 of 6 with model Ensemble for Validation 2
📈 1 - Ensemble with avg smape 2.07:
Model Number: 2 of 6 with model Ensemble for Validation 2
2 - Ensemble with avg smape 200.0:
Model Number: 3 of 6 with model ARIMA for Validation 2
3 - ARIMA with avg smape 200.0:
Model Number: 4 of 6 with model Ensemble for Validation 2
4 - Ensemble with avg smape 40.79:
Model Number: 5 of 6 with model Ensemble for Validation 2
5 - Ensemble with avg smape 41.15:
Model Number: 6 of 6 with model Ensemble for Validation 2
6 - Ensemble with avg smape 2.07:

In [30]:
prediction_arte_pre_mu_2 = model_arte_pre_mu_2.predict()
forecast_arte_pre_mu_2 =  prediction_arte_pre_mu_2.forecast
print(model_arte_pre_mu_2)

Initiated AutoTS object with best model:
Ensemble
{}
{'model_name': 'BestN', 'model_count': 5, 'model_metric': 'bestn_horizontal', 'models': {'58b160a8696428cc5f43451b24980ce7': {'Model': 'ARIMA', 'ModelParameters': '{"p": 12, "d": 2, "q": 1, "regression_type": "Holiday"}', 'TransformationParameters': '{"fillna": "pad", "transformations": {"0": "Slice"}, "transformation_params": {"0": {"method": 0.5}}}'}, '1ea09997dc5856225e0d5d527e4d2ca8': {'Model': 'ARIMA', 'ModelParameters': '{"p": 0, "d": 0, "q": 4, "regression_type": null}', 'TransformationParameters': '{"fillna": "pchip", "transformations": {"0": "Slice", "1": "DifferencedTransformer", "2": "PositiveShift"}, "transformation_params": {"0": {"method": 0.5}, "1": {}, "2": {}}}'}, 'cb36a8fee9ac84b5851c0b34e6b58ed7': {'Model': 'ARIMA', 'ModelParameters': '{"p": 0, "d": 0, "q": 4, "regression_type": "Holiday"}', 'TransformationParameters': '{"fillna": "ffill", "transformations": {"0": "Slice", "1": "DifferencedTransformer", "2": "PositiveShift", "3": "RollingMeanTransformer", "4": "PctChangeTransformer"}, "transformation_params": {"0": {"method": 0.5}, "1": {}, "2": {}, "3": {"fixed": true, "window": 7}, "4": {}}}'}, '8b3258af7fff36ee9c6fd15deffbaab4': {'Model': 'ARIMA', 'ModelParameters': '{"p": 0, "d": 0, "q": 2, "regression_type": null}', 'TransformationParameters': '{"fillna": "ffill", "transformations": {"0": "Slice", "1": "DifferencedTransformer"}, "transformation_params": {"0": {"method": 0.5}, "1": {}}}'}, 'e38c6160fc59878c1be93f824079dc39': {'Model': 'ARIMA', 'ModelParameters': '{"p": 2, "d": 2, "q": 4, "regression_type": null}', 'TransformationParameters': '{"fillna": "rolling_mean_24", "transformations": {"0": "PositiveShift", "1": "Log"}, "transformation_params": {"0": {}, "1": {}}}'}}, 'point_method': 'median', 'model_weights': {}}
SMAPE: 0.6651975767240936, 4.705971142495061, 2.067282234352448
MAE: 5.993242329149496, 38.535788303991524, 15.690138657399245
SPL: 0.41607008357841585, 3.9814863461982837, 0.7140885773459535

## Modelo prediccion y resultado de serie de tiempo para la facultad de artes, pregrado hombres en el primer periodo ##

In [31]:
#filtro por facultad Mujeres por periodo
df_t_FHP3 = df_t_FH.loc[df_t_FH['Semestre_A'] == "1"]
#filtro por facultad Mujeres por periodo por grado
df_t_FHPG3 = df_t_FHP3.loc[df_t_FHP3['Grado'] == "Pregrado"]

In [32]:
#modelo para la facultad de artes, pregrado mujeres en el primer periodo 
model_arte_pre_ho_3 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)

In [33]:
model_arte_pre_ho_3 = model_arte_pre_ho_3.fit(df_t_FHPG3,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

Inferred frequency is: AS-JAN
Model Number: 1 with model ARIMA in generation 0 of 5
Model Number: 2 with model ARIMA in generation 0 of 5
Model Number: 3 with model ARIMA in generation 0 of 5
Model Number: 4 with model ARIMA in generation 0 of 5
Model Number: 5 with model ARIMA in generation 0 of 5
Model Number: 6 with model ARIMA in generation 0 of 5
Model Number: 7 with model ARIMA in generation 0 of 5
Model Number: 8 with model ARIMA in generation 0 of 5
New Generation: 1 of 5
Model Number: 9 with model ARIMA in generation 1 of 5
Model Number: 10 with model ARIMA in generation 1 of 5
Model Number: 11 with model ARIMA in generation 1 of 5
Model Number: 12 with model ARIMA in generation 1 of 5
Model Number: 13 with model ARIMA in generation 1 of 5
New Generation: 2 of 5
Model Number: 14 with model ARIMA in generation 2 of 5
Model Number: 15 with model ARIMA in generation 2 of 5
Model Number: 16 with model ARIMA in generation 2 of 5
Template Eval Error: ValueError('Model ARIMA returned NaN for one or more series. fail_on_forecast_nan=True') in model 16: ARIMA
Model Number: 17 with model ARIMA in generation 2 of 5
Model Number: 18 with model ARIMA in generation 2 of 5
Template Eval Error: ValueError("regression_type='User' but future_regressor not supplied") in model 18: ARIMA
New Generation: 3 of 5
Model Number: 19 with model ARIMA in generation 3 of 5
Model Number: 20 with model ARIMA in generation 3 of 5
Template Eval Error: Exception('Transformer DifferencedTransformer failed on inverse') in model 20: ARIMA
Model Number: 21 with model ARIMA in generation 3 of 5
Model Number: 22 with model ARIMA in generation 3 of 5
Model Number: 23 with model ARIMA in generation 3 of 5
New Generation: 4 of 5
Model Number: 24 with model ARIMA in generation 4 of 5
Model Number: 25 with model ARIMA in generation 4 of 5
Model Number: 26 with model ARIMA in generation 4 of 5
Model Number: 27 with model ARIMA in generation 4 of 5
Model Number: 28 with model ARIMA in generation 4 of 5
New Generation: 5 of 5
Model Number: 29 with model ARIMA in generation 5 of 5
Model Number: 30 with model ARIMA in generation 5 of 5
Template Eval Error: ValueError("regression_type='User' but future_regressor not supplied") in model 30: ARIMA
Model Number: 31 with model ARIMA in generation 5 of 5
Template Eval Error: ValueError("regression_type='User' but future_regressor not supplied") in model 31: ARIMA
Model Number: 32 with model ARIMA in generation 5 of 5
Model Number: 33 with model ARIMA in generation 5 of 5

C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\models\ensemble.py:959: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cur_mods = pd.Series(models_pos).value_counts()
C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\models\ensemble.py:959: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cur_mods = pd.Series(models_pos).value_counts()

Model Number: 34 with model Ensemble in generation 6 of Ensembles
Model Number: 35 with model Ensemble in generation 6 of Ensembles
Model Number: 36 with model Ensemble in generation 6 of Ensembles
Model Number: 37 with model Ensemble in generation 6 of Ensembles
Model Number: 38 with model Ensemble in generation 6 of Ensembles
Validation Round: 1
Model Number: 1 of 6 with model Ensemble for Validation 1
📈 1 - Ensemble with avg smape 7.59:
Model Number: 2 of 6 with model ARIMA for Validation 1
2 - ARIMA with avg smape 7.59:
Model Number: 3 of 6 with model Ensemble for Validation 1
Traceback (most recent call last):
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\tools\transform.py", line 2811, in inverse_transform
    df = self.transformers[i].inverse_transform(
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\tools\transform.py", line 2221, in inverse_transform
    raise ValueError("NaN in MeanDifference.inverse_transform")
ValueError: NaN in MeanDifference.inverse_transform

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\evaluator\auto_model.py", line 985, in model_forecast
    df_forecast = model_forecast(
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\evaluator\auto_model.py", line 1071, in model_forecast
    df_forecast = ModelPrediction(
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\evaluator\auto_model.py", line 632, in ModelPrediction
    transformer_object.inverse_transform(df_forecast.lower_forecast, fillzero=True)
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\tools\transform.py", line 2822, in inverse_transform
    raise Exception(
Exception: Transformer MeanDifference failed on inverse

FAILED: Ensemble BestN component 3 of 3 ARIMA with error: Exception('Transformer MeanDifference failed on inverse')
3 - Ensemble with avg smape 8.47:
Model Number: 4 of 6 with model Ensemble for Validation 1
Traceback (most recent call last):
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\tools\transform.py", line 2811, in inverse_transform
    df = self.transformers[i].inverse_transform(
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\tools\transform.py", line 2221, in inverse_transform
    raise ValueError("NaN in MeanDifference.inverse_transform")
ValueError: NaN in MeanDifference.inverse_transform

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\evaluator\auto_model.py", line 985, in model_forecast
    df_forecast = model_forecast(
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\evaluator\auto_model.py", line 1071, in model_forecast
    df_forecast = ModelPrediction(
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\evaluator\auto_model.py", line 632, in ModelPrediction
    transformer_object.inverse_transform(df_forecast.lower_forecast, fillzero=True)
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\tools\transform.py", line 2822, in inverse_transform
    raise Exception(
Exception: Transformer MeanDifference failed on inverse

FAILED: Ensemble BestN component 3 of 3 ARIMA with error: Exception('Transformer MeanDifference failed on inverse')
4 - Ensemble with avg smape 8.47:
Model Number: 5 of 6 with model ARIMA for Validation 1
Template Eval Error: Exception('Transformer MeanDifference failed on inverse') in model 5: ARIMA
Model Number: 6 of 6 with model Ensemble for Validation 1
Traceback (most recent call last):
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\tools\transform.py", line 2811, in inverse_transform
    df = self.transformers[i].inverse_transform(
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\tools\transform.py", line 2221, in inverse_transform
    raise ValueError("NaN in MeanDifference.inverse_transform")
ValueError: NaN in MeanDifference.inverse_transform

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\evaluator\auto_model.py", line 985, in model_forecast
    df_forecast = model_forecast(
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\evaluator\auto_model.py", line 1071, in model_forecast
    df_forecast = ModelPrediction(
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\evaluator\auto_model.py", line 632, in ModelPrediction
    transformer_object.inverse_transform(df_forecast.lower_forecast, fillzero=True)
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\tools\transform.py", line 2822, in inverse_transform
    raise Exception(
Exception: Transformer MeanDifference failed on inverse

FAILED: Ensemble BestN component 3 of 5 ARIMA with error: Exception('Transformer MeanDifference failed on inverse')
6 - Ensemble with avg smape 8.47:
Validation Round: 2
Model Number: 1 of 6 with model Ensemble for Validation 2
📈 1 - Ensemble with avg smape 6.01:
Model Number: 2 of 6 with model ARIMA for Validation 2
2 - ARIMA with avg smape 6.01:
Model Number: 3 of 6 with model Ensemble for Validation 2
3 - Ensemble with avg smape 10.17:
Model Number: 4 of 6 with model Ensemble for Validation 2
4 - Ensemble with avg smape 10.17:
Model Number: 5 of 6 with model ARIMA for Validation 2
5 - ARIMA with avg smape 12.32:
Model Number: 6 of 6 with model Ensemble for Validation 2
Traceback (most recent call last):
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\tools\transform.py", line 2811, in inverse_transform
    df = self.transformers[i].inverse_transform(
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\tools\transform.py", line 1210, in inverse_transform
    raise ValueError("NaN in DifferencedTransformer.inverse_transform")
ValueError: NaN in DifferencedTransformer.inverse_transform

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\evaluator\auto_model.py", line 985, in model_forecast
    df_forecast = model_forecast(
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\evaluator\auto_model.py", line 1071, in model_forecast
    df_forecast = ModelPrediction(
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\evaluator\auto_model.py", line 632, in ModelPrediction
    transformer_object.inverse_transform(df_forecast.lower_forecast, fillzero=True)
  File "C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\tools\transform.py", line 2822, in inverse_transform
    raise Exception(
Exception: Transformer DifferencedTransformer failed on inverse

FAILED: Ensemble BestN component 6 of 5 ARIMA with error: Exception('Transformer DifferencedTransformer failed on inverse')
6 - Ensemble with avg smape 12.32:

In [34]:
prediction_arte_pre_ho_3 = model_arte_pre_ho_3.predict()
forecast_arte_pre_ho_3 =  prediction_arte_pre_ho_3.forecast
print(model_arte_pre_ho_3)

Initiated AutoTS object with best model:
ARIMA
{'fillna': 'median', 'transformations': {'0': 'DifferencedTransformer', '1': 'PowerTransformer', '2': 'Detrend', '3': 'EWMAFilter'}, 'transformation_params': {'0': {}, '1': {}, '2': {'model': 'GLS', 'phi': 0.999, 'window': None}, '3': {'span': 12}}}
{'p': 7, 'd': 3, 'q': 2, 'regression_type': None}
SMAPE: 0.25616346359862235, 7.594332303119591, 6.009206566814427
MAE: 3.880745697459929, 127.52190184051562, 95.57996372251421
SPL: 0.06318608212065543, 2.8319631823196145, 2.1422402329486725

## Modelo prediccion y resultado de serie de tiempo para la facultad de artes, pregrado hombres en el segundo periodo ##

In [35]:
#filtro por facultad Mujeres por periodo
df_t_FHP4 = df_t_FH.loc[df_t_FH['Semestre_A'] == "2"]
#filtro por facultad Mujeres por periodo por grado
df_t_FHPG4 = df_t_FHP4.loc[df_t_FHP4['Grado'] == "Pregrado"]

In [36]:
#modelo para la facultad de artes, pregrado mujeres en el primer periodo 
model_arte_pre_ho_4 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)

In [38]:
model_arte_pre_ho_4 = model_arte_pre_ho_4.fit(df_t_FHPG4,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

Inferred frequency is: AS-JUN
Model Number: 1 with model ARIMA in generation 0 of 5
Model Number: 2 with model ARIMA in generation 0 of 5
Model Number: 3 with model ARIMA in generation 0 of 5
Model Number: 4 with model ARIMA in generation 0 of 5
Model Number: 5 with model ARIMA in generation 0 of 5
Model Number: 6 with model ARIMA in generation 0 of 5
Model Number: 7 with model ARIMA in generation 0 of 5
Model Number: 8 with model ARIMA in generation 0 of 5
New Generation: 1 of 5
Model Number: 9 with model ARIMA in generation 1 of 5
Model Number: 10 with model ARIMA in generation 1 of 5
Model Number: 11 with model ARIMA in generation 1 of 5
Model Number: 12 with model ARIMA in generation 1 of 5
Model Number: 13 with model ARIMA in generation 1 of 5
New Generation: 2 of 5
Model Number: 14 with model ARIMA in generation 2 of 5
Model Number: 15 with model ARIMA in generation 2 of 5
Model Number: 16 with model ARIMA in generation 2 of 5
Template Eval Error: ValueError("regression_type='User' but future_regressor not supplied") in model 16: ARIMA
Model Number: 17 with model ARIMA in generation 2 of 5
Model Number: 18 with model ARIMA in generation 2 of 5
Template Eval Error: ValueError("regression_type='User' but future_regressor not supplied") in model 18: ARIMA
New Generation: 3 of 5
Model Number: 19 with model ARIMA in generation 3 of 5
Model Number: 20 with model ARIMA in generation 3 of 5
Model Number: 21 with model ARIMA in generation 3 of 5
Model Number: 22 with model ARIMA in generation 3 of 5
Model Number: 23 with model ARIMA in generation 3 of 5
New Generation: 4 of 5
Model Number: 24 with model ARIMA in generation 4 of 5
Model Number: 25 with model ARIMA in generation 4 of 5
Model Number: 26 with model ARIMA in generation 4 of 5
Model Number: 27 with model ARIMA in generation 4 of 5
Model Number: 28 with model ARIMA in generation 4 of 5
New Generation: 5 of 5
Model Number: 29 with model ARIMA in generation 5 of 5
Model Number: 30 with model ARIMA in generation 5 of 5
Model Number: 31 with model ARIMA in generation 5 of 5
Model Number: 32 with model ARIMA in generation 5 of 5
Model Number: 33 with model ARIMA in generation 5 of 5

C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\models\ensemble.py:959: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cur_mods = pd.Series(models_pos).value_counts()
C:\Users\ricar\anaconda3\envs\Streamlit\lib\site-packages\autots\models\ensemble.py:959: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cur_mods = pd.Series(models_pos).value_counts()

Model Number: 34 with model Ensemble in generation 6 of Ensembles
Model Number: 35 with model Ensemble in generation 6 of Ensembles
Model Number: 36 with model Ensemble in generation 6 of Ensembles
Model Number: 37 with model Ensemble in generation 6 of Ensembles
Model Number: 38 with model Ensemble in generation 6 of Ensembles
Validation Round: 1
Model Number: 1 of 6 with model Ensemble for Validation 1
📈 1 - Ensemble with avg smape 2.96:
Model Number: 2 of 6 with model Ensemble for Validation 1
📈 2 - Ensemble with avg smape 2.71:
Model Number: 3 of 6 with model ARIMA for Validation 1
3 - ARIMA with avg smape 2.71:
Model Number: 4 of 6 with model ARIMA for Validation 1
4 - ARIMA with avg smape 3.28:
Model Number: 5 of 6 with model Ensemble for Validation 1
5 - Ensemble with avg smape 2.83:
Model Number: 6 of 6 with model Ensemble for Validation 1
6 - Ensemble with avg smape 2.76:
Validation Round: 2
Model Number: 1 of 6 with model Ensemble for Validation 2
📈 1 - Ensemble with avg smape 7.73:
Model Number: 2 of 6 with model Ensemble for Validation 2
2 - Ensemble with avg smape 7.73:
Model Number: 3 of 6 with model ARIMA for Validation 2
3 - ARIMA with avg smape 7.73:
Model Number: 4 of 6 with model ARIMA for Validation 2
4 - ARIMA with avg smape 7.73:
Model Number: 5 of 6 with model Ensemble for Validation 2
5 - Ensemble with avg smape 7.73:
Model Number: 6 of 6 with model Ensemble for Validation 2
6 - Ensemble with avg smape 7.73:

In [39]:
prediction_arte_pre_ho_4 = model_arte_pre_ho_4.predict()
forecast_arte_pre_ho_4 =  prediction_arte_pre_ho_4.forecast
print(model_arte_pre_ho_4)

Initiated AutoTS object with best model:
ARIMA
{'fillna': 'rolling_mean_24', 'transformations': {'0': 'SeasonalDifference', '1': 'QuantileTransformer', '2': 'StandardScaler'}, 'transformation_params': {'0': {'lag_1': 7, 'method': 'Mean'}, '1': {'output_distribution': 'uniform', 'n_quantiles': 2}, '2': {}}}
{'p': 5, 'd': 0, 'q': 12, 'regression_type': None}
SMAPE: 2.8856579098572674, 2.7096822004878134, 7.729022436976845
MAE: 42.585052157998234, 42.495663771739146, 121.5
SPL: 1.0536345152837978, 1.0484036176296696, 3.1153846153846154

In [58]:

print(forecast_arte_pre_mu_1)
print(forecast_arte_pre_mu_2)
print(forecast_arte_pre_ho_3)
print(forecast_arte_pre_ho_4)

            Matriculados
2021-01-01    936.561983
2022-01-01    968.116380
            Matriculados
2021-06-01    905.130063
2022-06-01    896.542624
            Matriculados
2021-01-01   1506.545596
2022-01-01   1510.033889
            Matriculados
2021-06-01   1591.265169
2022-06-01   1627.800879

In [44]:
import plotly.graph_objs as go

In [61]:
fig = go.Figure([
    go.Scatter(
        name='F.Artes, pregrado mujeres P.1',
        x=df_t_FMPG['Fecha_c'],
        y=df_t_FMPG['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Artes, pregrado mujeres P.2',
        x=df_t_FMPG2['Fecha_c'],
        y=df_t_FMPG2['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Artes, pregrado hombres P.1',
        x=df_t_FHPG3['Fecha_c'],
        y=df_t_FHPG3['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'F.Artes, pregrado hombres P.2',
        x=df_t_FHPG4['Fecha_c'],
        y=df_t_FHPG4['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
        go.Scatter(
        name='Pronostico: F.Artes, pregrado mujeres P.1',
        x=forecast_arte_pre_mu_1.index,
        y=forecast_arte_pre_mu_1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Artes, pregrado mujeres P.2',
        x=forecast_arte_pre_mu_2.index,
        y=forecast_arte_pre_mu_2['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Artes, pregrado hombres P.1',
        x=forecast_arte_pre_ho_3.index,
        y=forecast_arte_pre_ho_3['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'Pronostico: F.Artes, pregrado hombres P.2',
        x=forecast_arte_pre_ho_4.index,
        y=forecast_arte_pre_ho_4['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    )
])
fig.update_layout(
    yaxis_title='No. Matriculados',
    title='Matriculados facultad de Artes',
    hovermode="x"
)
fig.show()

fig.write_image("png/Matriculados facultad de Artes.png") # guardando resultado como .png
fig.write_html("html/Matriculados facultad de Artes.html") # guardando resultado como.html

## Análisis de resultados ##

In [63]:
print(df.Facultad.unique())

['Artes' 'C. Agrarias' 'C. Económicas' 'C. Humanas' 'Ciencias'
 'Derecho, C. Políticas y Sociales' 'Enfermería' 'Ingeniería'
 'Med. veterinaria y de Zootecnia' 'Medicina' 'Odontología']

# Series de tiempo Facultad de Ciencias Agrarias #

## Filtros para modelos facultad de Ciencias Agrarias ##

In [ ]:
#filtro por facultad Mujeres
df_t_M_CA = df_t_M.loc[df_t_M['Facultad'] == "C. Agrarias"]
#filtro por facultad hombres
df_t_H_CA = df_t_H.loc[df_t_H['Facultad'] == "C. Agrarias"]

#filtro por facultad Mujeres por periodo
df_t_M_CAP = df_t_M_CA.loc[df_t_M_CA['Semestre_A'] == "1"] 
#filtro por facultad Mujeres por periodo por grado
df_t_M_CAPG = df_t_M_CAP.loc[df_t_M_CAP['Grado'] == "Pregrado"] #usar este modelo 1

#filtro por facultad Mujeres por periodo 2
df_t_M_CAPGB= df_t_M_CA.loc[df_t_M_CA['Semestre_A'] == "2"]
#filtro por facultad Mujeres por periodo por grado
df_t_M_CAPGB1 = df_t_M_CAPGB.loc[df_t_M_CAPGB['Grado'] == "Pregrado"]#usar este modelo 2

#filtro por facultad Hombres por periodo
df_t_H_CAP = df_t_H_CA.loc[df_t_H_CA['Semestre_A'] == "1"] 
#filtro por facultad Hombres por periodo por grado
df_t_H_CAPG = df_t_H_CAP.loc[df_t_H_CAP['Grado'] == "Pregrado"] #usar este modelo 3

#filtro por facultad Hombres por periodo
df_t_H_CAPGB = df_t_H_CA.loc[df_t_H_CA['Semestre_A'] == "2"]
#filtro por facultad Hombres por periodo por grado
df_t_H_CAPGB2 = df_t_H_CAPGB.loc[df_t_H_CAPGB['Grado'] == "Pregrado"] #usar este modelo 4

## Modelos  facultad de Ciencias Agrarias ##

In [ ]:
#modelo para la ## Modelos  facultad de ciencias agrarias, pregrado mujeres en el primer periodo 
model2_ca_pre_mu_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model2_ca_pre_mu_1 = model2_ca_pre_mu_1.fit(df_t_M_CAPG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_ca_pre_mu_1 = model2_ca_pre_mu_1.predict()
forecast_ca_pre_mu_1 =  prediction_ca_pre_mu_1.forecast
print(model2_ca_pre_mu_1)

In [ ]:
#modelo para la facultad de ciencias agrarias, pregrado mujeres en el segundo periodo 
model2_ca_pre_mu_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model2_ca_pre_mu_2 = model2_ca_pre_mu_2.fit(df_t_M_CAPGB1,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_ca_pre_mu_2 = model2_ca_pre_mu_2.predict()
forecast_ca_pre_mu_2 =  prediction_ca_pre_mu_2.forecast
print(model2_ca_pre_mu_2)

In [ ]:
#modelo para la facultad de ciencias agrarias, pregrado hombres en el primer periodo 
model2_ca_pre_ho_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model2_ca_pre_ho_1 = model2_ca_pre_ho_1.fit(df_t_H_CAPG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_ca_pre_ho_1 = model2_ca_pre_ho_1.predict()
forecast_ca_pre_ho_1 =  prediction_ca_pre_ho_1.forecast
print(model2_ca_pre_ho_1)

In [ ]:
#modelo para la facultad de ciencias agrarias, pregrado hombres en el segundo periodo 
model2_ca_pre_ho_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model2_ca_pre_ho_2 = model2_ca_pre_ho_2.fit(df_t_H_CAPGB2,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_ca_pre_ho_2 = model2_ca_pre_ho_2.predict()
forecast_ca_pre_ho_2 =  prediction_ca_pre_ho_2.forecast
print(model2_ca_pre_ho_2)

In [ ]:
print(forecast_ca_pre_mu_1)
print(forecast_ca_pre_mu_2)
print(forecast_ca_pre_ho_1)
print(forecast_ca_pre_ho_2)

In [ ]:
fig = go.Figure([
    go.Scatter(
        name='F.Ciencias Agrarias, pregrado mujeres P.1',
        x=df_t_M_CAPG['Fecha_c'],
        y=df_t_M_CAPG['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Ciencias Agrarias, pregrado mujeres P.2',
        x=df_t_M_CAPGB1['Fecha_c'],
        y=df_t_M_CAPGB1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Ciencias Agrarias, pregrado hombres P.1',
        x=df_t_H_CAPG['Fecha_c'],
        y=df_t_H_CAPG['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'F.Ciencias Agrarias, pregrado hombres P.2',
        x=df_t_H_CAPGB2['Fecha_c'],
        y=df_t_H_CAPGB2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
        go.Scatter(
        name='Pronostico: F.Ciencias Agrarias, pregrado mujeres P.1',
        x=forecast_ca_pre_mu_1.index,
        y=forecast_ca_pre_mu_1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Ciencias Agrarias, pregrado mujeres P.2',
        x=forecast_ca_pre_mu_2.index,
        y=forecast_ca_pre_mu_2['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Ciencias Agrarias, pregrado hombres P.1',
        x=forecast_ca_pre_ho_1.index,
        y=forecast_ca_pre_ho_1['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'Pronostico: F.Ciencias Agrarias, pregrado hombres P.2',
        x=forecast_ca_pre_ho_2.index,
        y=forecast_ca_pre_ho_2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    )
])
fig.update_layout(
    yaxis_title='No. Matriculados',
    title='Matriculados facultad de Ciencias Agrarias',
    hovermode="x"
)
fig.show()

fig.write_image("png/Matriculados facultad de Ciencias Agrarias.png") # guardando resultado como .png
fig.write_html("html/Matriculados facultad de Ciencias Agrarias.html") # guardando resultado como.html

## Análisis de resultados ##

# Series de tiempo Facultad de Ciencias Económicas #

## Filtros para modelos facultad de Ciencias Económicas ##

In [ ]:
#filtro por facultad Mujeres
df_t_M_CE = df_t_M.loc[df_t_M['Facultad'] == "C. Económicas"]
#filtro por facultad hombres
df_t_H_CE = df_t_H.loc[df_t_H['Facultad'] == "C. Económicas"]

#filtro por facultad Mujeres por periodo
df_t_M_CEP = df_t_M_CE.loc[df_t_M_CE['Semestre_A'] == "1"] 
#filtro por facultad Mujeres por periodo por grado
df_t_M_CEPG = df_t_M_CEP.loc[df_t_M_CEP['Grado'] == "Pregrado"] #usar este modelo 1

#filtro por facultad Mujeres por periodo 2
df_t_M_CEPGB= df_t_M_CE.loc[df_t_M_CE['Semestre_A'] == "2"]
#filtro por facultad Mujeres por periodo por grado
df_t_M_CEPGB1 = df_t_M_CEPGB.loc[df_t_M_CEPGB['Grado'] == "Pregrado"]#usar este modelo 2

#filtro por facultad Hombres por periodo
df_t_H_CEP = df_t_H_CE.loc[df_t_H_CE['Semestre_A'] == "1"] 
#filtro por facultad Hombres por periodo por grado
df_t_H_CEPG = df_t_H_CEP.loc[df_t_H_CEP['Grado'] == "Pregrado"] #usar este modelo 3

#filtro por facultad Hombres por periodo
df_t_H_CEPGB = df_t_H_CE.loc[df_t_H_CE['Semestre_A'] == "2"]
#filtro por facultad Hombres por periodo por grado
df_t_H_CEPGB2 = df_t_H_CEPGB.loc[df_t_H_CEPGB['Grado'] == "Pregrado"] #usar este modelo 4

## Modelos  facultad de Ciencias Económicas ##

In [ ]:
#modelo para la ## Modelos  facultad de ciencias económicas, pregrado mujeres en el primer periodo 
model3_ce_pre_mu_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model3_ce_pre_mu_1 = model3_ce_pre_mu_1.fit(df_t_M_CEPG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_ce_pre_mu_1 = model3_ce_pre_mu_1.predict()
forecast_ce_pre_mu_1 =  prediction_ce_pre_mu_1.forecast
print(model3_ce_pre_mu_1)

In [ ]:
#modelo para la facultad de ciencias económicas, pregrado mujeres en el segundo periodo 
model3_ce_pre_mu_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model3_ce_pre_mu_2 = model3_ce_pre_mu_2.fit(df_t_M_CEPGB1,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_ce_pre_mu_2 = model3_ce_pre_mu_2.predict()
forecast_ce_pre_mu_2 =  prediction_ce_pre_mu_2.forecast
print(model3_ce_pre_mu_2)

In [ ]:
#modelo para la facultad de ciencias económicas, pregrado hombres en el primer periodo 
model3_ce_pre_ho_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model3_ce_pre_ho_1 = model3_ce_pre_ho_1.fit(df_t_H_CEPG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_ce_pre_ho_1 = model3_ce_pre_ho_1.predict()
forecast_ce_pre_ho_1 =  prediction_ce_pre_ho_1.forecast
print(model3_ce_pre_ho_1)

In [ ]:
#modelo para la facultad de ciencias económicas, pregrado hombres en el segundo periodo 
model3_ce_pre_ho_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model3_ce_pre_ho_2 = model3_ce_pre_ho_2.fit(df_t_H_CEPGB2,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_ce_pre_ho_2 = model3_ce_pre_ho_2.predict()
forecast_ce_pre_ho_2 =  prediction_ce_pre_ho_2.forecast
print(model3_ce_pre_ho_2)

In [ ]:
print(forecast_ce_pre_mu_1)
print(forecast_ce_pre_mu_2)
print(forecast_ce_pre_ho_1)
print(forecast_ce_pre_ho_2)

In [ ]:
fig = go.Figure([
    go.Scatter(
        name='F.Ciencias económicas, pregrado mujeres P.1',
        x=df_t_M_CEPG['Fecha_c'],
        y=df_t_M_CEPG['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Ciencias económicas, pregrado mujeres P.2',
        x=df_t_M_CEPGB1['Fecha_c'],
        y=df_t_M_CEPGB1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Ciencias económicas, pregrado hombres P.1',
        x=df_t_H_CEPG['Fecha_c'],
        y=df_t_H_CEPG['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'F.Ciencias económicas, pregrado hombres P.2',
        x=df_t_H_CEPGB2['Fecha_c'],
        y=df_t_H_CEPGB2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
        go.Scatter(
        name='Pronostico: F.Ciencias económicas, pregrado mujeres P.1',
        x=forecast_ce_pre_mu_1.index,
        y=forecast_ce_pre_mu_1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Ciencias económicas, pregrado mujeres P.2',
        x=forecast_ce_pre_mu_2.index,
        y=forecast_ce_pre_mu_2['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Ciencias económicas, pregrado hombres P.1',
        x=forecast_ce_pre_ho_1.index,
        y=forecast_ce_pre_ho_1['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'Pronostico: F.Ciencias económicas, pregrado hombres P.2',
        x=forecast_ce_pre_ho_2.index,
        y=forecast_ce_pre_ho_2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    )
])
fig.update_layout(
    yaxis_title='No. Matriculados',
    title='Matriculados facultad de Ciencias económicas',
    hovermode="x"
)
fig.show()

fig.write_image("png/Matriculados facultad de Ciencias económicas.png") # guardando resultado como .png
fig.write_html("html/Matriculados facultad de Ciencias económicas.html") # guardando resultado como.html

## Análisis de resultados ##

# Series de tiempo Facultad de Ciencias Humanas #

## Filtros para modelos facultad de Ciencias Humanas ##

In [ ]:
#filtro por facultad Mujeres
df_t_M_CH = df_t_M.loc[df_t_M['Facultad'] == "C. Humanas"]
#filtro por facultad hombres
df_t_H_CH = df_t_H.loc[df_t_H['Facultad'] == "C. Humanas"]

#filtro por facultad Mujeres por periodo
df_t_M_CHP = df_t_M_CH.loc[df_t_M_CH['Semestre_A'] == "1"] 
#filtro por facultad Mujeres por periodo por grado
df_t_M_CHPG = df_t_M_CHP.loc[df_t_M_CHP['Grado'] == "Pregrado"] #usar este modelo 1

#filtro por facultad Mujeres por periodo 2
df_t_M_CHPGB= df_t_M_CH.loc[df_t_M_CH['Semestre_A'] == "2"]
#filtro por facultad Mujeres por periodo por grado
df_t_M_CHPGB1 = df_t_M_CHPGB.loc[df_t_M_CHPGB['Grado'] == "Pregrado"]#usar este modelo 2

#filtro por facultad Hombres por periodo
df_t_H_CHP = df_t_H_CH.loc[df_t_H_CH['Semestre_A'] == "1"] 
#filtro por facultad Hombres por periodo por grado
df_t_H_CHPG = df_t_H_CHP.loc[df_t_H_CHP['Grado'] == "Pregrado"] #usar este modelo 3

#filtro por facultad Hombres por periodo
df_t_H_CHPGB = df_t_H_CH.loc[df_t_H_CH['Semestre_A'] == "2"]
#filtro por facultad Hombres por periodo por grado
df_t_H_CHPGB2 = df_t_H_CHPGB.loc[df_t_H_CHPGB['Grado'] == "Pregrado"] #usar este modelo 4

## Modelos  facultad de Ciencias Humanas ##

In [ ]:
#modelo para la ## Modelos  facultad de ciencias humanas, pregrado mujeres en el primer periodo 
model4_ch_pre_mu_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model4_ch_pre_mu_1 = model4_ch_pre_mu_1.fit(df_t_M_CHPG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_ch_pre_mu_1 = model4_ch_pre_mu_1.predict()
forecast_ch_pre_mu_1 =  prediction_ch_pre_mu_1.forecast
print(model4_ch_pre_mu_1)

In [ ]:
#modelo para la facultad de ciencias humanas, pregrado mujeres en el segundo periodo 
model4_ch_pre_mu_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model4_ch_pre_mu_2 = model4_ch_pre_mu_2.fit(df_t_M_CHPGB1,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_ch_pre_mu_2 = model4_ch_pre_mu_2.predict()
forecast_ch_pre_mu_2 =  prediction_ch_pre_mu_2.forecast
print(model4_ch_pre_mu_2)

In [ ]:
#modelo para la facultad de ciencias humanas, pregrado hombres en el primer periodo 
model4_ch_pre_ho_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model4_ch_pre_ho_1 = model4_ch_pre_ho_1.fit(df_t_H_CHPG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_ch_pre_ho_1 = model4_ch_pre_ho_1.predict()
forecast_ch_pre_ho_1 =  prediction_ch_pre_ho_1.forecast
print(model4_ch_pre_ho_1)

In [ ]:
#modelo para la facultad de ciencias humanas, pregrado hombres en el segundo periodo 
model4_ch_pre_ho_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model4_ch_pre_ho_2 = model4_ch_pre_ho_2.fit(df_t_H_CHPGB2,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_ch_pre_ho_2 = model4_ch_pre_ho_2.predict()
forecast_ch_pre_ho_2 =  prediction_ch_pre_ho_2.forecast
print(model4_ch_pre_ho_2)

In [ ]:
print(forecast_ch_pre_mu_1)
print(forecast_ch_pre_mu_2)
print(forecast_ch_pre_ho_1)
print(forecast_ch_pre_ho_2)

In [ ]:
fig = go.Figure([
    go.Scatter(
        name='F.Ciencias humanas, pregrado mujeres P.1',
        x=df_t_M_CHPG['Fecha_c'],
        y=df_t_M_CHPG['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Ciencias humanas, pregrado mujeres P.2',
        x=df_t_M_CHPGB1['Fecha_c'],
        y=df_t_M_CHPGB1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Ciencias humanas, pregrado hombres P.1',
        x=df_t_H_CHPG['Fecha_c'],
        y=df_t_H_CHPG['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'F.Ciencias humanas, pregrado hombres P.2',
        x=df_t_H_CHPGB2['Fecha_c'],
        y=df_t_H_CHPGB2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
        go.Scatter(
        name='Pronostico: F.Ciencias humanas, pregrado mujeres P.1',
        x=forecast_ch_pre_mu_1.index,
        y=forecast_ch_pre_mu_1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Ciencias humanas, pregrado mujeres P.2',
        x=forecast_ch_pre_mu_2.index,
        y=forecast_ch_pre_mu_2['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Ciencias humanas, pregrado hombres P.1',
        x=forecast_ch_pre_ho_1.index,
        y=forecast_ch_pre_ho_1['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'Pronostico: F.Ciencias humanas, pregrado hombres P.2',
        x=forecast_ch_pre_ho_2.index,
        y=forecast_ch_pre_ho_2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    )
])
fig.update_layout(
    yaxis_title='No. Matriculados',
    title='Matriculados facultad de Ciencias humanas',
    hovermode="x"
)
fig.show()

fig.write_image("png/Matriculados facultad de Ciencias humanas.png") # guardando resultado como .png
fig.write_html("html/Matriculados facultad de Ciencias humanas.html") # guardando resultado como.html

## Análisis de resultados ##

# Series de tiempo Facultad de Ciencias #

## Filtros para modelos facultad de Ciencias  ##

In [ ]:
#filtro por facultad Mujeres
df_t_M_C_ = df_t_M.loc[df_t_M['Facultad'] == "C. Humanas"]
#filtro por facultad hombres
df_t_H_C_ = df_t_H.loc[df_t_H['Facultad'] == "C. Humanas"]

#filtro por facultad Mujeres por periodo
df_t_M_C_P = df_t_M_C_.loc[df_t_M_C_['Semestre_A'] == "1"] 
#filtro por facultad Mujeres por periodo por grado
df_t_M_C_PG = df_t_M_C_P.loc[df_t_M_C_P['Grado'] == "Pregrado"] #usar este modelo 1

#filtro por facultad Mujeres por periodo 2
df_t_M_C_PGB= df_t_M_C_.loc[df_t_M_C_['Semestre_A'] == "2"]
#filtro por facultad Mujeres por periodo por grado
df_t_M_C_PGB1 = df_t_M_C_PGB.loc[df_t_M_C_PGB['Grado'] == "Pregrado"]#usar este modelo 2

#filtro por facultad Hombres por periodo
df_t_H_C_P = df_t_H_C_.loc[df_t_H_C_['Semestre_A'] == "1"] 
#filtro por facultad Hombres por periodo por grado
df_t_H_C_PG = df_t_H_C_P.loc[df_t_H_C_P['Grado'] == "Pregrado"] #usar este modelo 3

#filtro por facultad Hombres por periodo
df_t_H_C_PGB = df_t_H_C_.loc[df_t_H_C_['Semestre_A'] == "2"]
#filtro por facultad Hombres por periodo por grado
df_t_H_C_PGB2 = df_t_H_C_PGB.loc[df_t_H_C_PGB['Grado'] == "Pregrado"] #usar este modelo 4

## Modelos  facultad de Ciencias ##

In [ ]:
#modelo para la ## Modelos  facultad de ciencias, pregrado mujeres en el primer periodo 
model5_c_pre_mu_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model5_c_pre_mu_1 = model5_c_pre_mu_1.fit(df_t_M_C_PG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_c_pre_mu_1 = model5_c_pre_mu_1.predict()
forecast_c_pre_mu_1 =  prediction_c_pre_mu_1.forecast
print(model5_c_pre_mu_1)

In [ ]:
#modelo para la facultad de ciencias, pregrado mujeres en el segundo periodo 
model5_c_pre_mu_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model5_c_pre_mu_2 = model5_c_pre_mu_2.fit(df_t_M_C_PGB1,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_c_pre_mu_2 = model5_c_pre_mu_2.predict()
forecast_c_pre_mu_2 =  prediction_c_pre_mu_2.forecast
print(model5_c_pre_mu_2)

In [ ]:
#modelo para la facultad de ciencias, pregrado hombres en el primer periodo 
model5_c_pre_ho_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model5_c_pre_ho_1 = model5_c_pre_ho_1.fit(df_t_H_C_PG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_c_pre_ho_1 = model5_c_pre_ho_1.predict()
forecast_c_pre_ho_1 =  prediction_c_pre_ho_1.forecast
print(model5_c_pre_ho_1)

In [ ]:
#modelo para la facultad de ciencias, pregrado hombres en el segundo periodo 
model5_c_pre_ho_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model5_c_pre_ho_2 = model5_c_pre_ho_2.fit(df_t_H_C_PGB2,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_c_pre_ho_2 = model5_c_pre_ho_2.predict()
forecast_c_pre_ho_2 =  prediction_c_pre_ho_2.forecast
print(model5_c_pre_ho_2)

In [ ]:
print(forecast_c_pre_mu_1)
print(forecast_c_pre_mu_2)
print(forecast_c_pre_ho_1)
print(forecast_c_pre_ho_2)

In [ ]:
fig = go.Figure([
    go.Scatter(
        name='F.Ciencias, pregrado mujeres P.1',
        x=df_t_M_C_PG['Fecha_c'],
        y=df_t_M_C_PG['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Ciencias, pregrado mujeres P.2',
        x=df_t_M_C_PGB1['Fecha_c'],
        y=df_t_M_C_PGB1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Ciencias, pregrado hombres P.1',
        x=df_t_H_C_PG['Fecha_c'],
        y=df_t_H_C_PG['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'F.Ciencias, pregrado hombres P.2',
        x=df_t_H_C_PGB2['Fecha_c'],
        y=df_t_H_C_PGB2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
        go.Scatter(
        name='Pronostico: F.Ciencias, pregrado mujeres P.1',
        x=forecast_c_pre_mu_1.index,
        y=forecast_c_pre_mu_1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Ciencias, pregrado mujeres P.2',
        x=forecast_c_pre_mu_2.index,
        y=forecast_c_pre_mu_2['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Ciencias, pregrado hombres P.1',
        x=forecast_c_pre_ho_1.index,
        y=forecast_c_pre_ho_1['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'Pronostico: F.Ciencias, pregrado hombres P.2',
        x=forecast_c_pre_ho_2.index,
        y=forecast_c_pre_ho_2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    )
])
fig.update_layout(
    yaxis_title='No. Matriculados',
    title='Matriculados facultad de Ciencias',
    hovermode="x"
)
fig.show()

fig.write_image("png/Matriculados facultad de Ciencias.png") # guardando resultado como .png
fig.write_html("html/Matriculados facultad de Ciencias.html") # guardando resultado como.html

## Análisis de resultados ##

# Series de tiempo Facultad de Derecho, C. Políticas y Sociales #

## Filtros para modelos facultad de Derecho, C. Políticas y Sociales ##

In [ ]:
#filtro por facultad Mujeres
df_t_M_CDPS = df_t_M.loc[df_t_M['Facultad'] == "C. Humanas"]
#filtro por facultad hombres
df_t_H_CDPS = df_t_H.loc[df_t_H['Facultad'] == "C. Humanas"]

#filtro por facultad Mujeres por periodo
df_t_M_CDPSP = df_t_M_CDPS.loc[df_t_M_CDPS['Semestre_A'] == "1"] 
#filtro por facultad Mujeres por periodo por grado
df_t_M_CDPSPG = df_t_M_CDPSP.loc[df_t_M_CDPSP['Grado'] == "Pregrado"] #usar este modelo 1

#filtro por facultad Mujeres por periodo 2
df_t_M_CDPSPGB= df_t_M_CDPS.loc[df_t_M_CDPS['Semestre_A'] == "2"]
#filtro por facultad Mujeres por periodo por grado
df_t_M_CDPSPGB1 = df_t_M_CDPSPGB.loc[df_t_M_CDPSPGB['Grado'] == "Pregrado"]#usar este modelo 2

#filtro por facultad Hombres por periodo
df_t_H_CDPSP = df_t_H_CDPS.loc[df_t_H_CDPS['Semestre_A'] == "1"] 
#filtro por facultad Hombres por periodo por grado
df_t_H_CDPSPG = df_t_H_CDPSP.loc[df_t_H_CDPSP['Grado'] == "Pregrado"] #usar este modelo 3

#filtro por facultad Hombres por periodo
df_t_H_CDPSPGB = df_t_H_CDPS.loc[df_t_H_CDPS['Semestre_A'] == "2"]
#filtro por facultad Hombres por periodo por grado
df_t_H_CDPSPGB2 = df_t_H_CDPSPGB.loc[df_t_H_CDPSPGB['Grado'] == "Pregrado"] #usar este modelo 4

## Modelos  facultad de Derecho, C. Políticas y Sociales ##

In [ ]:
#modelo para la ## Modelos  facultad de Derecho, C. Políticas y Sociales, pregrado mujeres en el primer periodo 
model6_dps_pre_mu_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model6_dps_pre_mu_1 = model6_dps_pre_mu_1.fit(df_t_M_CDPSPG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_dps_pre_mu_1 = model6_dps_pre_mu_1.predict()
forecast_dps_pre_mu_1 =  prediction_dps_pre_mu_1.forecast
print(model6_dps_pre_mu_1)

In [ ]:
#modelo para la facultad de Derecho, C. Políticas y Sociales, pregrado mujeres en el segundo periodo 
model6_dps_pre_mu_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model6_dps_pre_mu_2 = model6_dps_pre_mu_2.fit(df_t_M_CDPSPGB1,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
#modelo para la facultad de Derecho, C. Políticas y Sociales, pregrado mujeres en el segundo periodo 
model6_dps_pre_mu_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model6_dps_pre_mu_2 = model6_dps_pre_mu_2.fit(df_t_H_CDPSPG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
#modelo para la facultad de Derecho, C. Políticas y Sociales, pregrado hombres en el primer periodo 
model6_dps_pre_ho_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model6_dps_pre_ho_1 = model6_dps_pre_ho_1.fit(df_t_H_CDPSPGB2,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_dps_pre_ho_1 = model6_dps_pre_ho_1.predict()
forecast_dps_pre_ho_1 =  prediction_dps_pre_ho_1.forecast
print(model6_dps_pre_ho_1)

In [ ]:
#modelo para la facultad de Derecho, C. Políticas y Sociales, pregrado hombres en el segundo periodo 
model6_dps_pre_ho_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model6_dps_pre_ho_2 = model6_dps_pre_ho_2.fit(df_t_H_C_PGB2,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_dps_pre_ho_2 = model6_dps_pre_ho_2.predict()
forecast_dps_pre_ho_2 =  prediction_dps_pre_ho_2.forecast
print(model5_c_pre_ho_2)

In [ ]:
print(forecast_dps_pre_mu_1)
print(forecast_dps_pre_mu_2)
print(forecast_dps_pre_ho_1)
print(forecast_dps_pre_ho_2)

In [ ]:
fig = go.Figure([
    go.Scatter(
        name='F.Derecho, C. Políticas y Sociales, pregrado mujeres P.1',
        x=df_t_M_CDPSPG['Fecha_c'],
        y=df_t_M_CDPSPG['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Derecho, C. Políticas y Sociales, pregrado mujeres P.2',
        x=df_t_M_CDPSPGB1['Fecha_c'],
        y=df_t_M_CDPSPGB1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Derecho, C. Políticas y Sociales, pregrado hombres P.1',
        x=df_t_H_CDPSPG['Fecha_c'],
        y=df_t_H_CDPSPG['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'F.Derecho, C. Políticas y Sociales, pregrado hombres P.2',
        x=df_t_H_CDPSPGB2['Fecha_c'],
        y=df_t_H_CDPSPGB2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
        go.Scatter(
        name='Pronostico: F.Derecho, C. Políticas y Sociales, pregrado mujeres P.1',
        x=forecast_dps_pre_mu_1.index,
        y=forecast_dps_pre_mu_1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Derecho, C. Políticas y Sociales, pregrado mujeres P.2',
        x=forecast_dps_pre_mu_2.index,
        y=forecast_dps_pre_mu_2['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Derecho, C. Políticas y Sociales, pregrado hombres P.1',
        x=forecast_dps_pre_ho_1.index,
        y=forecast_dps_pre_ho_1['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'Pronostico: F.Derecho, C. Políticas y Sociales, pregrado hombres P.2',
        x=forecast_dps_pre_ho_2.index,
        y=forecast_dps_pre_ho_2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    )
])
fig.update_layout(
    yaxis_title='No. Matriculados',
    title='Matriculados facultad de Derecho, C. Políticas y Sociales',
    hovermode="x"
)
fig.show()

fig.write_image("png/Matriculados facultad de Derecho, C. Políticas y Sociales.png") # guardando resultado como .png
fig.write_html("html/Matriculados facultad de Derecho, C. Políticas y Sociales.html") # guardando resultado como.html

## Análisis de resultados ##

# Series de tiempo Facultad de Enfermería #

## Filtros para modelos facultad de Enfermería ##

In [ ]:
#filtro por facultad Mujeres
df_t_M_E_ = df_t_M.loc[df_t_M['Facultad'] == "C. Humanas"]
#filtro por facultad hombres
df_t_H_E_ = df_t_H.loc[df_t_H['Facultad'] == "C. Humanas"]

#filtro por facultad Mujeres por periodo
df_t_M_E_P = df_t_M_E_.loc[df_t_M_E_['Semestre_A'] == "1"] 
#filtro por facultad Mujeres por periodo por grado
df_t_M_E_PG = df_t_M_E_P.loc[df_t_M_E_P['Grado'] == "Pregrado"] #usar este modelo 1

#filtro por facultad Mujeres por periodo 2
df_t_M_E_PGB= df_t_M_E_.loc[df_t_M_E_['Semestre_A'] == "2"]
#filtro por facultad Mujeres por periodo por grado
df_t_M_E_PGB1 = df_t_M_E_PGB.loc[df_t_M_E_PGB['Grado'] == "Pregrado"]#usar este modelo 2

#filtro por facultad Hombres por periodo
df_t_H_E_P = df_t_H_E_.loc[df_t_H_E_['Semestre_A'] == "1"] 
#filtro por facultad Hombres por periodo por grado
df_t_H_E_PG = df_t_H_E_P.loc[df_t_H_E_P['Grado'] == "Pregrado"] #usar este modelo 3

#filtro por facultad Hombres por periodo
df_t_H_E_PGB = df_t_H_E_.loc[df_t_H_E_['Semestre_A'] == "2"]
#filtro por facultad Hombres por periodo por grado
df_t_H_E_PGB2 = df_t_H_E_PGB.loc[df_t_H_E_PGB['Grado'] == "Pregrado"] #usar este modelo 4

## Modelos  facultad de Enfermería ##

In [ ]:
#modelo para la ## Modelos  facultad de Enfermería, pregrado mujeres en el primer periodo 
model7_E_pre_mu_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model7_E_pre_mu_1 = model7_E_pre_mu_1.fit(df_t_M_E_PG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_E_pre_mu_1 = model7_E_pre_mu_1.predict()
forecast_E_pre_mu_1 =  prediction_E_pre_mu_1.forecast
print(model7_E_pre_mu_1)

In [ ]:
#modelo para la facultad de Enfermería, pregrado mujeres en el segundo periodo 
model7_E_pre_mu_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model7_E_pre_mu_2 = model7_E_pre_mu_2.fit(df_t_M_E_PGB1,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_E_pre_mu_2 = model7_E_pre_mu_2.predict()
forecast_E_pre_mu_2 =  prediction_E_pre_mu_2.forecast
print(model7_E_pre_mu_2)

In [ ]:
#modelo para la facultad de Enfermería, pregrado hombres en el primer periodo 
model7_E_pre_ho_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model7_E_pre_ho_1 = model7_E_pre_ho_1.fit(df_t_H_E_PG ,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_E_pre_ho_1 = model7_E_pre_ho_1.predict()
forecast_E_pre_ho_1 =  prediction_E_pre_ho_1.forecast
print(model7_E_pre_ho_1)

In [ ]:
#modelo para la facultad de Enfermería, pregrado hombres en el segundo periodo 
model7_E_pre_ho_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model7_E_pre_ho_2 = model7_E_pre_ho_2.fit(df_t_H_E_PGB2,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_E_pre_ho_2 = model7_E_pre_ho_2.predict()
forecast_E_pre_ho_2 =  prediction_E_pre_ho_2.forecast
print(model7_E_pre_ho_2)

In [ ]:
print(forecast_E_pre_mu_1)
print(forecast_E_pre_mu_2)
print(forecast_E_pre_ho_1)
print(forecast_E_pre_ho_2)

In [ ]:
fig = go.Figure([
    go.Scatter(
        name='F.Enfermería, pregrado mujeres P.1',
        x=df_t_M_E_PG['Fecha_c'],
        y=df_t_M_E_PG['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Enfermería, pregrado mujeres P.2',
        x=df_t_M_E_PGB1['Fecha_c'],
        y=df_t_M_E_PGB1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Enfermería, pregrado hombres P.1',
        x=df_t_H_E_PG['Fecha_c'],
        y=df_t_H_E_PG['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'F.Enfermería, pregrado hombres P.2',
        x=df_t_H_E_PGB2['Fecha_c'],
        y=df_t_H_E_PGB2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
        go.Scatter(
        name='Pronostico: F.Enfermería, pregrado mujeres P.1',
        x=forecast_E_pre_mu_1.index,
        y=forecast_E_pre_mu_1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Enfermería, pregrado mujeres P.2',
        x=forecast_E_pre_mu_2.index,
        y=forecast_E_pre_mu_2['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Enfermería, pregrado hombres P.1',
        x=forecast_E_pre_ho_1.index,
        y=forecast_E_pre_ho_1['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'Pronostico: F.Enfermería, pregrado hombres P.2',
        x=forecast_E_pre_ho_2.index,
        y=forecast_E_pre_ho_2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    )
])
fig.update_layout(
    yaxis_title='No. Matriculados',
    title='Matriculados facultad de Enfermería',
    hovermode="x"
)
fig.show()

fig.write_image("png/Matriculados facultad de Enfermería.png") # guardando resultado como .png
fig.write_html("html/Matriculados facultad de Enfermería.html") # guardando resultado como.html

## Análisis de resultados ##

# Series de tiempo Facultad de Ingeniería #

## Filtros para modelos facultad de Ingeniería ##

In [ ]:
#filtro por facultad Mujeres
df_t_M_I_ = df_t_M.loc[df_t_M['Facultad'] == "C. Humanas"]
#filtro por facultad hombres
df_t_H_I_ = df_t_H.loc[df_t_H['Facultad'] == "C. Humanas"]

#filtro por facultad Mujeres por periodo
df_t_M_I_P = df_t_M_I_.loc[df_t_M_I_['Semestre_A'] == "1"] 
#filtro por facultad Mujeres por periodo por grado
df_t_M_I_PG = df_t_M_I_P.loc[df_t_M_I_P['Grado'] == "Pregrado"] #usar este modelo 1

#filtro por facultad Mujeres por periodo 2
df_t_M_I_PGB= df_t_M_I_.loc[df_t_M_I_['Semestre_A'] == "2"]
#filtro por facultad Mujeres por periodo por grado
df_t_M_I_PGB1 = df_t_M_I_PGB.loc[df_t_M_I_PGB['Grado'] == "Pregrado"]#usar este modelo 2

#filtro por facultad Hombres por periodo
df_t_H_I_P = df_t_H_I_.loc[df_t_H_I_['Semestre_A'] == "1"] 
#filtro por facultad Hombres por periodo por grado
df_t_H_I_PG = df_t_H_I_P.loc[df_t_H_I_P['Grado'] == "Pregrado"] #usar este modelo 3

#filtro por facultad Hombres por periodo
df_t_H_I_PGB = df_t_H_I_.loc[df_t_H_I_['Semestre_A'] == "2"]
#filtro por facultad Hombres por periodo por grado
df_t_H_I_PGB2 = df_t_H_I_PGB.loc[df_t_H_I_PGB['Grado'] == "Pregrado"] #usar este modelo 4

## Modelos  facultad de Ingeniería ##

In [ ]:
#modelo para la ## Modelos  facultad de Ingeniería, pregrado mujeres en el primer periodo 
model8_i_pre_mu_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model8_i_pre_mu_1 = model8_i_pre_mu_1.fit(df_t_M_I_PG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_i_pre_mu_1 = model8_i_pre_mu_1.predict()
forecast_i_pre_mu_1 =  prediction_i_pre_mu_1.forecast
print(model8_i_pre_mu_1)

In [ ]:
#modelo para la facultad de Ingeniería, pregrado mujeres en el segundo periodo 
model8_i_pre_mu_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model8_i_pre_mu_2 = model8_i_pre_mu_2.fit(df_t_M_I_PGB1,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_i_pre_mu_2 = model8_i_pre_mu_2.predict()
forecast_i_pre_mu_2 =  prediction_i_pre_mu_2.forecast
print(model8_i_pre_mu_2)

In [ ]:
#modelo para la facultad de Ingeniería, pregrado hombres en el primer periodo 
model8_i_pre_ho_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model8_i_pre_ho_1 = model8_i_pre_ho_1.fit(df_t_H_I_PG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_i_pre_ho_1 = model8_i_pre_ho_1.predict()
forecast_i_pre_ho_1 =  prediction_i_pre_ho_1.forecast
print(model8_i_pre_ho_1)

In [ ]:
#modelo para la facultad de Ingeniería, pregrado hombres en el segundo periodo 
model8_i_pre_ho_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model8_i_pre_ho_2 = model8_i_pre_ho_2.fit(df_t_H_I_PGB2,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_i_pre_ho_2 = model8_i_pre_ho_2.predict()
forecast_i_pre_ho_2 =  prediction_i_pre_ho_2.forecast
print(model8_i_pre_ho_2)

In [ ]:
print(forecast_i_pre_mu_1)
print(forecast_i_pre_mu_2)
print(forecast_i_pre_ho_1)
print(forecast_i_pre_ho_2)

In [ ]:
fig = go.Figure([
    go.Scatter(
        name='F.Ingeniería, pregrado mujeres P.1',
        x=df_t_M_I_PG['Fecha_c'],
        y=df_t_M_I_PG['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Ingeniería, pregrado mujeres P.2',
        x=df_t_M_I_PGB1['Fecha_c'],
        y=df_t_M_I_PGB1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Ingeniería, pregrado hombres P.1',
        x=df_t_H_I_PG['Fecha_c'],
        y=df_t_H_I_PG['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'F.Ingeniería, pregrado hombres P.2',
        x=df_t_H_I_PGB2['Fecha_c'],
        y=df_t_H_I_PGB2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
        go.Scatter(
        name='Pronostico: F.Ingeniería, pregrado mujeres P.1',
        x=forecast_i_pre_mu_1.index,
        y=forecast_i_pre_mu_1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Ingeniería, pregrado mujeres P.2',
        x=forecast_i_pre_mu_2.index,
        y=forecast_i_pre_mu_2['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Ingeniería, pregrado hombres P.1',
        x=forecast_i_pre_ho_1.index,
        y=forecast_i_pre_ho_1['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'Pronostico: F.Ingeniería, pregrado hombres P.2',
        x=forecast_i_pre_ho_2.index,
        y=forecast_i_pre_ho_2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    )
])
fig.update_layout(
    yaxis_title='No. Matriculados',
    title='Matriculados facultad de Ingeniería',
    hovermode="x"
)
fig.show()

fig.write_image("png/Matriculados facultad de Ingeniería.png") # guardando resultado como .png
fig.write_html("html/Matriculados facultad de Ingeniería.html") # guardando resultado como.html

## Análisis de resultados ##

# Series de tiempo Facultad de Med. veterinaria y de Zootecnia #

## Filtros para modelos facultad de Med. veterinaria y de Zootecnia ##

In [ ]:
#filtro por facultad Mujeres
df_t_M_VET_ = df_t_M.loc[df_t_M['Facultad'] == "C. Humanas"]
#filtro por facultad hombres
df_t_H_VET_ = df_t_H.loc[df_t_H['Facultad'] == "C. Humanas"]

#filtro por facultad Mujeres por periodo
df_t_M_VET_P = df_t_M_VET_.loc[df_t_M_VET_['Semestre_A'] == "1"] 
#filtro por facultad Mujeres por periodo por grado
df_t_M_VET_PG = df_t_M_VET_P.loc[df_t_M_VET_P['Grado'] == "Pregrado"] #usar este modelo 1

#filtro por facultad Mujeres por periodo 2
df_t_M_VET_PGB= df_t_M_VET_.loc[df_t_M_VET_['Semestre_A'] == "2"]
#filtro por facultad Mujeres por periodo por grado
df_t_M_VET_PGB1 = df_t_M_VET_PGB.loc[df_t_M_VET_PGB['Grado'] == "Pregrado"]#usar este modelo 2

#filtro por facultad Hombres por periodo
df_t_H_VET_P = df_t_H_VET_.loc[df_t_H_VET_['Semestre_A'] == "1"] 
#filtro por facultad Hombres por periodo por grado
df_t_H_VET_PG = df_t_H_VET_P.loc[df_t_H_VET_P['Grado'] == "Pregrado"] #usar este modelo 3

#filtro por facultad Hombres por periodo
df_t_H_VET_PGB = df_t_H_VET_.loc[df_t_H_VET_['Semestre_A'] == "2"]
#filtro por facultad Hombres por periodo por grado
df_t_H_VET_PGB2 = df_t_H_VET_PGB.loc[df_t_H_VET_PGB['Grado'] == "Pregrado"] #usar este modelo 4

## Modelos  facultad de Med. veterinaria y de Zootecnia ##

In [ ]:
#modelo para la ## Modelos  facultad de Med. veterinaria y de Zootecnia, pregrado mujeres en el primer periodo 
model9_vet_pre_mu_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model9_vet_pre_mu_1 = model9_vet_pre_mu_1.fit(df_t_M_VET_PG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_vet_pre_mu_1 = model9_vet_pre_mu_1.predict()
forecast_vet_pre_mu_1 =  prediction_vet_pre_mu_1.forecast
print(model5_c_pre_mu_1)

In [ ]:
#modelo para la facultad de Med. veterinaria y de Zootecnia, pregrado mujeres en el segundo periodo 
model9_vet_pre_mu_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model9_vet_pre_mu_2 = model9_vet_pre_mu_2.fit(df_t_M_VET_PGB1,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_vet_pre_mu_2 = model9_vet_pre_mu_2.predict()
forecast_vet_pre_mu_2 =  prediction_vet_pre_mu_2.forecast
print(model9_vet_pre_mu_2)

In [ ]:
#modelo para la facultad de Med. veterinaria y de Zootecnia, pregrado hombres en el primer periodo 
model9_vet_pre_ho_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model9_vet_pre_ho_1 = model9_vet_pre_ho_1.fit(df_t_H_VET_PG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_vet_pre_ho_1 = model9_vet_pre_ho_1.predict()
forecast_vet_pre_ho_1 =  prediction_vet_pre_ho_1.forecast
print(model9_vet_pre_ho_1)

In [ ]:
#modelo para la facultad de Med. veterinaria y de Zootecnia, pregrado hombres en el segundo periodo 
model9_vet_pre_ho_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model9_vet_pre_ho_2 = model9_vet_pre_ho_2.fit(df_t_H_VET_PGB2,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_vet_pre_ho_2 = model9_vet_pre_ho_2.predict()
forecast_vet_pre_ho_2 =  prediction_vet_pre_ho_2.forecast
print(model9_vet_pre_ho_2)

In [ ]:
print(forecast_vet_pre_mu_1)
print(forecast_vet_pre_mu_2)
print(forecast_vet_pre_ho_1)
print(forecast_vet_pre_ho_2)

In [ ]:
fig = go.Figure([
    go.Scatter(
        name='F.Med. veterinaria y de Zootecnia, pregrado mujeres P.1',
        x=df_t_M_VET_PG['Fecha_c'],
        y=df_t_M_VET_PG['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Med. veterinaria y de Zootecnia, pregrado mujeres P.2',
        x=df_t_M_VET_PGB1['Fecha_c'],
        y=df_t_M_VET_PGB1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Med. veterinaria y de Zootecnia, pregrado hombres P.1',
        x=df_t_H_VET_PG['Fecha_c'],
        y=df_t_H_VET_PG['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'F.Med. veterinaria y de Zootecnia, pregrado hombres P.2',
        x=df_t_H_VET_PGB2['Fecha_c'],
        y=df_t_H_VET_PGB2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
        go.Scatter(
        name='Pronostico: F.Med. veterinaria y de Zootecnia, pregrado mujeres P.1',
        x=forecast_vet_pre_mu_1.index,
        y=forecast_vet_pre_mu_1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Med. veterinaria y de Zootecnia, pregrado mujeres P.2',
        x=forecast_vet_pre_mu_2.index,
        y=forecast_vet_pre_mu_2['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Med. veterinaria y de Zootecnia, pregrado hombres P.1',
        x=forecast_vet_pre_ho_1.index,
        y=forecast_vet_pre_ho_1['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'Pronostico: F.Med. veterinaria y de Zootecnia, pregrado hombres P.2',
        x=forecast_vet_pre_ho_2.index,
        y=forecast_vet_pre_ho_2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    )
])
fig.update_layout(
    yaxis_title='No. Matriculados',
    title='Matriculados facultad de Med. veterinaria y de Zootecnia',
    hovermode="x"
)
fig.show()

fig.write_image("png/Matriculados facultad de Med. veterinaria y de Zootecnia.png") # guardando resultado como .png
fig.write_html("html/Matriculados facultad de Med. veterinaria y de Zootecnia.html") # guardando resultado como.html

## Análisis de resultados ##

# Series de tiempo Facultad de Medicina #

## Filtros para modelos facultad de Medicina ##

In [ ]:
#filtro por facultad Mujeres
df_t_M_MED_ = df_t_M.loc[df_t_M['Facultad'] == "C. Humanas"]
#filtro por facultad hombres
df_t_H_MED_ = df_t_H.loc[df_t_H['Facultad'] == "C. Humanas"]

#filtro por facultad Mujeres por periodo
df_t_M_MED_P = df_t_M_MED_.loc[df_t_M_MED_['Semestre_A'] == "1"] 
#filtro por facultad Mujeres por periodo por grado
df_t_M_MED_PG = df_t_M_MED_P.loc[df_t_M_MED_P['Grado'] == "Pregrado"] #usar este modelo 1

#filtro por facultad Mujeres por periodo 2
df_t_M_MED_PGB= df_t_M_MED_.loc[df_t_M_MED_['Semestre_A'] == "2"]
#filtro por facultad Mujeres por periodo por grado
df_t_M_MED_PGB1 = df_t_M_MED_PGB.loc[df_t_M_MED_PGB['Grado'] == "Pregrado"]#usar este modelo 2

#filtro por facultad Hombres por periodo
df_t_H_MED_P = df_t_H_MED_.loc[df_t_H_MED_['Semestre_A'] == "1"] 
#filtro por facultad Hombres por periodo por grado
df_t_H_MED_PG = df_t_H_MED_P.loc[df_t_H_MED_P['Grado'] == "Pregrado"] #usar este modelo 3

#filtro por facultad Hombres por periodo
df_t_H_MED_PGB = df_t_H_MED_.loc[df_t_H_MED_['Semestre_A'] == "2"]
#filtro por facultad Hombres por periodo por grado
df_t_H_MED_PGB2 = df_t_H_MED_PGB.loc[df_t_H_MED_PGB['Grado'] == "Pregrado"] #usar este modelo 4

## Modelos  facultad de Medicina ##

In [ ]:
#modelo para la ## Modelos  facultad de medicina, pregrado mujeres en el primer periodo 
model10_med_pre_mu_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model10_med_pre_mu_1 = model10_med_pre_mu_1.fit(df_t_M_MED_PG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_med_pre_mu_1 = model10_med_pre_mu_1.predict()
forecast_med_pre_mu_1 =  prediction_med_pre_mu_1.forecast
print(model10_med_pre_mu_1)

In [ ]:
#modelo para la facultad de medicina, pregrado mujeres en el segundo periodo 
model10_med_pre_mu_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model10_med_pre_mu_2 = model10_med_pre_mu_2.fit(df_t_M_MED_PGB1,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_med_pre_mu_2 = model10_med_pre_mu_2.predict()
forecast_med_pre_mu_2 =  prediction_med_pre_mu_2.forecast
print(model10_med_pre_mu_2)

In [ ]:
#modelo para la facultad de medicina, pregrado hombres en el primer periodo 
model10_med_pre_ho_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model10_med_pre_ho_1 = model10_med_pre_ho_1.fit(df_t_H_MED_PG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_med_pre_ho_1 = model10_med_pre_ho_1.predict()
forecast_med_pre_ho_1 =  prediction_med_pre_ho_1.forecast
print(model10_med_pre_ho_1)

In [ ]:
#modelo para la facultad de medicina, pregrado hombres en el segundo periodo 
model10_med_pre_ho_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model10_med_pre_ho_2 = model10_med_pre_ho_2.fit(df_t_H_MED_PGB2,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_med_pre_ho_2 = model10_med_pre_ho_2.predict()
forecast_med_pre_ho_2 =  prediction_med_pre_ho_2.forecast
print(model10_med_pre_ho_2)

In [ ]:
print(forecast_med_pre_mu_1)
print(forecast_med_pre_mu_2)
print(forecast_med_pre_ho_1)
print(forecast_med_pre_ho_2)

In [ ]:
fig = go.Figure([
    go.Scatter(
        name='F.Medicina, pregrado mujeres P.1',
        x=df_t_M_MED_PG['Fecha_c'],
        y=df_t_M_MED_PG['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Medicina, pregrado mujeres P.2',
        x=df_t_M_MED_PGB1['Fecha_c'],
        y=df_t_M_MED_PGB1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='F.Medicina, pregrado hombres P.1',
        x=df_t_H_MED_PG['Fecha_c'],
        y=df_t_H_MED_PG['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'F.Medicina, pregrado hombres P.2',
        x=df_t_H_MED_PGB2['Fecha_c'],
        y=df_t_H_MED_PGB2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
        go.Scatter(
        name='Pronostico: F.Medicina, pregrado mujeres P.1',
        x=forecast_med_pre_mu_1.index,
        y=forecast_med_pre_mu_1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Medicina, pregrado mujeres P.2',
        x=forecast_med_pre_mu_2.index,
        y=forecast_med_pre_mu_2['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Medicina, pregrado hombres P.1',
        x=forecast_med_pre_ho_1.index,
        y=forecast_vet_pre_ho_1['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'Pronostico: F.Medicina, pregrado hombres P.2',
        x=forecast_med_pre_ho_2.index,
        y=forecast_med_pre_ho_2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    )
])
fig.update_layout(
    yaxis_title='No. Matriculados',
    title='Matriculados facultad de Medicina',
    hovermode="x"
)
fig.show()

fig.write_image("png/Matriculados facultad de Medicina.png") # guardando resultado como .png
fig.write_html("html/Matriculados facultad de Medicina.html") # guardando resultado como.html

## Análisis de resultados ##

# Series de tiempo Odontología #

## Filtros para modelos facultad de Odontología ##

In [ ]:
#filtro por facultad Mujeres
df_t_M_O_ = df_t_M.loc[df_t_M['Facultad'] == "C. Humanas"]
#filtro por facultad hombres
df_t_H_O_ = df_t_H.loc[df_t_H['Facultad'] == "C. Humanas"]

#filtro por facultad Mujeres por periodo
df_t_M_O_P = df_t_M_O_.loc[df_t_M_O_['Semestre_A'] == "1"] 
#filtro por facultad Mujeres por periodo por grado
df_t_M_O_PG = df_t_M_O_P.loc[df_t_M_O_P['Grado'] == "Pregrado"] #usar este modelo 1

#filtro por facultad Mujeres por periodo 2
df_t_M_O_PGB= df_t_M_O_.loc[df_t_M_O_['Semestre_A'] == "2"]
#filtro por facultad Mujeres por periodo por grado
df_t_M_O_PGB1 = df_t_M_O_PGB.loc[df_t_M_O_PGB['Grado'] == "Pregrado"]#usar este modelo 2

#filtro por facultad Hombres por periodo
df_t_H_O_P = df_t_H_O_.loc[df_t_H_O_['Semestre_A'] == "1"] 
#filtro por facultad Hombres por periodo por grado
df_t_H_O_PG = df_t_H_O_P.loc[df_t_H_O_P['Grado'] == "Pregrado"] #usar este modelo 3

#filtro por facultad Hombres por periodo
df_t_H_O_PGB = df_t_H_O_.loc[df_t_H_O_['Semestre_A'] == "2"]
#filtro por facultad Hombres por periodo por grado
df_t_H_O_PGB2 = df_t_H_O_PGB.loc[df_t_H_O_PGB['Grado'] == "Pregrado"] #usar este modelo 4

## Modelos  facultad de Odontología ##

In [ ]:
#modelo para la  facultad de Odontología, pregrado mujeres en el primer periodo 
model11_o_pre_mu_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model11_o_pre_mu_1 = model1_o_pre_mu_1.fit(df_t_M_O_PG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_o_pre_mu_1 = model11_o_pre_mu_1.predict()
forecast_o_pre_mu_1 =  prediction_o_pre_mu_1.forecast
print(model11_o_pre_mu_1)

In [ ]:
#modelo para la facultad de Odontología, pregrado mujeres en el segundo periodo 
model11_o_pre_mu_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model11_o_pre_mu_2 = model11_o_pre_mu_2.fit(df_t_M_O_PGB1,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_o_pre_mu_2 = model1_o_pre_mu_2.predict()
forecast_o_pre_mu_2 =  prediction_o_pre_mu_2.forecast
print(model11_o_pre_mu_2)

In [ ]:
#modelo para la facultad de Odontología, pregrado hombres en el primer periodo 
model11_o_pre_ho_1 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model11_o_pre_ho_1 = model11_o_pre_ho_1.fit(df_t_H_O_PG,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_o_pre_ho_1 = model11_o_pre_ho_1.predict()
forecast_o_pre_ho_1 =  prediction_o_pre_ho_1.forecast
print(model11_o_pre_ho_1)

In [ ]:
#modelo para la facultad de Odontología, pregrado hombres en el segundo periodo 
model11_o_pre_ho_2 = AutoTS(forecast_length=2, frequency='infer', prediction_interval=0.80,
                ensemble='simple', model_list=model_list, transformer_list='fast',
                max_generations=5, num_validations=2)
model11_o_pre_ho_2 = model11_o_pre_ho_2.fit(df_t_H_O_PGB2,
                                              date_col='Fecha_c', value_col='Matriculados', id_col=None)

In [ ]:
prediction_o_pre_ho_2 = model11_o_pre_ho_2.predict()
forecast_0_pre_ho_2 =  prediction_0_pre_ho_2.forecast
print(model11_o_pre_ho_2)

In [ ]:
print(forecast_o_pre_mu_1)
print(forecast_o_pre_mu_2)
print(forecast_o_pre_ho_1)
print(forecast_o_pre_ho_2)

In [ ]:
fig = go.Figure([
    go.Scatter(
        name='F.Odontología, pregrado mujeres P.1',
        x=df_t_M_O_PG['Fecha_c'],
        y=df_t_M_O_PG['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='Odontología, pregrado mujeres P.2',
        x=df_t_M_O_PGB1['Fecha_c'],
        y=df_t_M_O_PGB1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='Odontología, pregrado hombres P.1',
        x=df_t_H_O_PG['Fecha_c'],
        y=df_t_H_O_PG['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'Odontología, pregrado hombres P.2',
        x=df_t_H_O_PGB2['Fecha_c'],
        y=df_t_H_O_PGB2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
        go.Scatter(
        name='Pronostico: F.Odontología, pregrado mujeres P.1',
        x=forecast_o_pre_mu_1.index,
        y=forecast_o_pre_mu_1['Matriculados'],
        mode='lines+markers',
        marker=dict(color='red', size=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Odontología, pregrado mujeres P.2',
        x=forecast_o_pre_mu_2.index,
        y=forecast_o_pre_mu_2['Matriculados'],
        mode='lines+markers',
        marker=dict(color='violet', size=2),
        line=dict(width=2),
        showlegend=True
    ),
    go.Scatter(
        name='Pronostico: F.Odontología, pregrado hombres P.1',
        x=forecast_o_pre_ho_1.index,
        y=forecast_o_pre_ho_1['Matriculados'],
        marker=dict(color='green', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    ),
    go.Scatter(
        name= 'Pronostico: F.Odontología, pregrado hombres P.2',
        x=forecast_o_pre_ho_2.index,
        y=forecast_o_pre_ho_2['Matriculados'], 
        marker=dict(color='orange', size=2),
        line=dict(width=2),
        mode='lines+markers',
        #fillcolor='rgba(68, 68, 68, 0.3)',
        #fill='tonexty',
        showlegend=True
    )
])
fig.update_layout(
    yaxis_title='No. Matriculados',
    title='Matriculados facultad de Odontología',
    hovermode="x"
)
fig.show()

fig.write_image("png/Matriculados facultad de Odontología.png") # guardando resultado como .png
fig.write_html("html/Matriculados facultad de Odontología.html") # guardando resultado como.html

## Análisis de resultados ##